<div class="col-lg-12">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="card mb-4">
      <%= link_to vms_path, method: :get, class: "dashboard-header-link" do %>
        <div class="card-header bg-primary text-white">
          <div class="btn-group">
            <h3><i class="fa fa-desktop fa-fw"></i> VMs</h3>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <table data-toggle="table" class="table">
          <thead>
          <tr>

          </tr>
          <tbody id="vms">
          <% @vms.each do |vm| %>
            <tr>
              <td><%= vm.name %></td>
              <td><%= vm.boot_time %></td>
              <td><%= button_to "Details",
                                {controller: :vms, action: 'show', id: vm.name},
                                method: :get, class: "btn btn-success" %></td>
              <td><%= button_to "Delete",
                                {controller: :vms, action: 'destroy', id: vm.name},
                                method: :delete, class: "btn btn-danger" %></td>
            <tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

    <div class="card">
      <%= link_to hosts_path, method: :get, class: "dashboard-header-link" do %>
        <div class="card-header bg-primary text-white">
          <div class="btn-group">
            <!-- Add server list instead of host list -->
            <h3><i class="fa fa-users"></i> Hosts</h3>
          </div>
        </div>
      <% end %>
      <div class="card-body">

        <table data-toggle="table" class="table">
          <thead>
          </thead>
          <tbody>
          <% @hosts.each do |host| %>
            <tr>
              <td><%= link_to host.name,
                              {controller: :hosts, action: 'show', id: host.name},
                              method: :get, class: "btn btn-link" %></td>
              <td><%= host.connection_state %></td>
              <td>
                <ul class="bulletless pl-1">
                  <% if not host.vms.nil?
                      vms = host.vms.take(3)
                      vms.each do |vm| %>
                        <li><%= vm.name -%></li>
                      <% end %>
                  <% end %>

                  <% if host.vms.length>3 %>
                      ... (<%=host.vms.length%>)
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end left column -->

  <div class="col-4">
    <div class="card mb-4">
      <%= link_to notifications_path, method: :get, class: "dashboard-header-link" do %>
        <div class="card-header bg-primary text-white">
          <div class="btn-group">
            <h3><i class="fa fa-bell"></i> Notifications</h3>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <%= render 'notifications/list' %>
      </div>
    </div>
  </div>


</div>
