<div class="col-lg-12">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="card mb-4">
      <%= link_to vms_path, method: :get, class: "dashboard-header-link" do %>
        <div class="card-header bg-primary text-white">
          <div class="btn-group">
            <h3><i class="fa fa-desktop fa-fw"></i> VMs</h3>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <%= link_to "Active machines (#{@vms&.size}) <small>&#x25bc;</small>".html_safe, '#active' %><br />
        <%= link_to "To be archived (#{@pending_archivation_vms&.size}) <small>&#x25bc;</small>".html_safe, '#to_be_archived', class: "#{"text-danger" unless @pending_archivation_vms&.empty?}"%><br />

        <h2 id="active">Active machines</h2>
        <table data-toggle="table" class="table" id="vms_active">
          <thead>
          <tr>
            <th scope="col" data-sortable="true" class="bg-primary text-white rounded-left">Name</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white">Project</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white">Responsible</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white rounded-right">Status</th>
          </tr>
          </thead>
          <tbody id="vms">
          <% @vms&.each do |vm| %>
            <tr>
              <td class="table-active">
                <%= link_to vm.name,
                            {controller: :vms, action: 'show', id: vm.name},
                            method: :get, class: "btn btn-link"  %>
              </td>
              <td class="table-active">
                <% if vm.project.nil? %>
                  No project found!
                <% else %>
                  <%= link_to vm.project.name, vm.project %>
                <% end %>
              </td>
              <td class="table-active">
                <% if vm.responsible_users.empty? %>
                  No responsible users found!
                <% else %>
                  <ul class="list-unstyled">
                    <% vm.responsible_users.each do |user| %>
                      <li><%= link_to user.name, user %></li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
              <td class="table-active align-middle">
                <%= render 'vms/vm_status', vm: vm %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <h2 id="to_be_archived" class="text-danger">To be archived</h2>

        <table data-toggle="table" class="table" id="vms_to_be_archived">
          <thead>
          <tr>
            <th scope="col" data-sortable="true" class="bg-primary text-white rounded-left">Name</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white">Project</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white">Responsible</th>
            <th scope="col" data-sortable="true" class="bg-primary text-white rounded-right">Status</th>
          </tr>
          </thead>
          <tbody>
          <% @pending_archivation_vms&.each do |vm| %>
            <tr>

              <td class="table-active">
                <%= link_to vm.name,
                            {controller: :vms, action: 'show', id: vm.name},
                            method: :get, class: "btn btn-link"  %>
              </td>
              <td class="table-active">
                <% if vm.project.nil? %>
                  No project found!
                <% else %>
                  <%= link_to vm.project.name, vm.project %>
                <% end %>
              </td>
              <td class="table-active">
                <% if vm.responsible_users.empty? %>
                  No responsible users found!
                <% else %>
                  <ul class="list-unstyled">
                    <% vm.responsible_users.each do |user| %>
                      <li><%= link_to user.name, user %></li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
              <td class="table-active">
                <div class="<%= 'boot-time mt-1' if vm.powered_on? %>">
                  <div class="round
            <%= vm.powered_on? ? 'bg-success' : 'bg-warning mt-1'  %>">
                  </div>
                  <%= vm.boot_time.to_s.strip if vm.powered_on? %>
                </div>
                <%if current_user.admin? && vm.archivable? %>
                  <%= link_to '',
                              {controller: :vms, action: 'archive_vm', id: vm.name},
                              method: :post, data: { confirm: 'Are you sure you want to archive this VM?' },
                              class: "btn-manage float-right checkmark" %>
                <% end %>
                <%= link_to '',
                            {controller: :vms, action: 'revive_vm', id: vm.name},
                            method: :post,
                            class: "btn-manage float-right cross" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end left column -->

  <div class="col-4">
    <div class="card mb-4">
      <%= link_to notifications_path, method: :get, class: "dashboard-header-link" do %>
        <div class="card-header bg-primary text-white">
          <div class="btn-group">
            <h3><i class="fa fa-bell"></i> Notifications</h3>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <%= render 'notifications/list' %>
      </div>
    </div>
  </div>
</div>
