<p id="notice"><%= notice %></p>

<h1>Request Templates</h1>

<table class="table-bar">
  <tbody>
    <tr>
      <td>
        <%=link_to(fa_icon('plus'),
         new_request_template_path, class: 'btn btn-info') %>
      </td>
      <td>
        <%= link_to 'Requests', requests_path, class: 'btn btn-info' %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Template name</th>
      <th>CPU count</th>
      <th>MB RAM</th>
      <th>MB Storage</th>
      <th colspan="2">Operating system</th>
    </tr>
  </thead>

  <tbody>
    <% @request_templates.each do |request_template| %>
      <tr>
        <% if current_user.admin? %>
          <td><%= link_to request_template.name, edit_request_template_path(request_template) %></td>
        <% else %>
          <td><%= request_template.name %></td>
        <% end %>
        <td><%= request_template.cpu_cores %></td>
        <td><%= request_template.ram_mb %></td>
        <td><%= request_template.storage_mb %></td>
        <td><%= request_template.operating_system %></td>
        <% if current_user.admin? %>
          <td>
            <%= link_to 'Delete',
                        request_template,
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        id: "deleteRequestTemplateButton-#{request_template.id}",
                        class: 'btn btn-danger'
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @request_templates.length == 0 %>
<p class="empty-table-label">No templates created yet</p>
<% end %>
