<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tbody>
  <tr>
    <th>Name:</td>
    <td><%= @request_template.name %></td>
  </tr>

  <tr>
    <td><strong>CPU cores:</strong></td>
    <td><%= @request_template.cpu_cores %></td>
  </tr>

  <tr>
    <td><strong>RAM in GB:</strong></td>
    <td><%= mb_to_gb(@request_template.ram_mb) %></td>
  </tr>

  <tr>
    <td><strong>Storage in GB:</strong></td>
    <td><%= mb_to_gb(@request_template.storage_mb) %></td>
  </tr>

  <tr>
    <td><strong>Operating system:</strong></td>
    <td><%= @request_template.operating_system %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_request_template_path(@request_template) %> |
<%= link_to 'Back', request_templates_path %>
