<p id="notice"><%= notice %></p>

<p>
  <strong>Cpu count:</strong>
  <%= @request_template.cpu_count %>
</p>

<p>
  <strong>Ram mb:</strong>
  <%= @request_template.ram_mb %>
</p>

<p>
  <strong>Storage mb:</strong>
  <%= @request_template.storage_mb %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @request_template.operating_system %>
</p>

<%= link_to 'Edit', edit_request_template_path(@request_template) %> |
<%= link_to 'Back', request_templates_path %>
