<%= form_with(model: operating_system, local: true) do |form| %>
  <% if operating_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operating_system.errors.count, "error") %> prohibited this operating_system from being saved:</h2>

      <ul>
      <% operating_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
