<%= form_with(model: operating_system, local: true) do |form| %>
  <%= render 'layouts/form_errors', model: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
