<%
  ram_usage_percentage = @values[:ram_allocation] == 0 ? 0 : (@values[:ram_usage] / @values[:ram_allocation].to_f * 100).round
  hdd_usage_percentage = @values[:hdd_allocation] == 0 ? 0 : (@values[:hdd_usage] / @values[:hdd_allocation].to_f * 100).round
  cpu_usage_percentage = @values[:cpu_allocation] == 0 ? 0 : (@values[:cpu_usage] / @values[:cpu_allocation].to_f * 100).round
%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>
  window.onload = function() {
    window.cpu = makeHalfDoughnutChart("CPU", <%= cpu_usage_percentage %>, "<%= @values[:cpu_cores] %> core<%= 's' if @values[:cpu_cores] != 1 %>");
    window.ram = makeHalfDoughnutChart("RAM", <%= ram_usage_percentage %>, "<%= @values[:ram_usage] %> / <%= @values[:ram_allocation] %> GB");
    window.hdd = makeHalfDoughnutChart("HDD", <%= hdd_usage_percentage %>, "<%= @values[:hdd_usage] %> / <%= @values[:hdd_allocation] %> GB")
  }
</script>

<table style="margin: auto" class="table-borderless">
    <tr>
        <td>
            <canvas id="RAM"></canvas>
        </td>
        <td class="space"></td>
        <td>
            <canvas id="CPU"></canvas>
        </td>
        <td class="space"></td>
        <td>
            <canvas id="HDD"></canvas>
        </td>
    </tr>
</table>