<h1>
  Hosts
</h1>
<small class="text-muted">This is the overview page for all currently existing hosts.</small>

<%= form_tag({controller: "hosts", action: "index"}, method: "get", class: "nifty_form") do %>
<table class="table-bar">
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="fa fa-filter btn btn-primary" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div>
              <%= check_box_tag(:up_vms, true, @parameters.include?('up_vms')) %>
              Connected
            </div>
            <div>
              <%= check_box_tag(:down_vms, true, @parameters.include?('down_vms')) %>
              Not connected
            </div>
            <div class="dropdown-divider"></div>
            <%= submit_tag "Filter", class: "btn btn-primary small-btn" %>
          </div>
        </div>
      </td>
    </tr></tbody></table>
<% end %>

<table data-toggle="table" class="table">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">Hostname</th>
    <th scope="col" data-sortable="true">Model</th>
    <th scope="col" data-sortable="true">Vendor</th>
    <th scope="col" data-sortable="true">Status</th>
    <th scope="col" data-sortable="true">Running Since</th>
    <th scope="col">VMs</th>
    <th scope="col">Timeslot Reservation</th>
  </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host[:name],
                      {controller: :hosts, action: 'show', id: host[:name]},
                      method: :get, class: "btn btn-link" %></td>
      <td><%= host[:model] %></td>
      <td><%= host[:vendor] %></td>
      <td><%= host[:connectionState] %></td>
      <td><%= host[:bootTime] %></td>
      <td>
        <ul class="bulletless pl-1">
          <% if not host[:vms].nil?
              host[:vms].keys.take(3).each do |name| %>
                <li> <%= name %></li>
              <% end %>
          <% end %>

          <% if host[:vms].length>3 %>
              ...
          <% end %>


        </ul>
      </td>
      <td class="text-center"><%= button_to "Reserve",
                        "",
                        method: :get, class: "btn btn-primary" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Minified script sources for sortable tables -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
      xmlns="http://www.w3.org/1999/html">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
