<h1>
  Hosts
</h1>

<input class="mb-3 bg-secondary border-0 rounded text-white filter-box" type="text" id="filter" onkeyup="filter_table('filter', 'hosts', document)" placeholder="Search">

<table data-toggle="table" class="table" id="hosts">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="bg-primary text-white rounded-left">Name</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white">Vendor</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white">Model</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white rounded-right">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <td class="table-active"><%= link_to host.name, {controller: :hosts, action: 'show', id: host.name},
                      method: :get, class: "btn btn-link" %></td>
      <td class="table-active"><%= host.vendor %></td>
      <td class="table-active"><%= host.model %></td>
      <td class="table-active align-middle">
        <div class="round 
          <%= host.connection_state == 'connected' ? 'bg-success' : 'bg-warning'  %>"
          title="<%= host.connection_state %>">
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>