<h1>
  Hosts
</h1>

<div class="mb-3 clearfix">
  <input class="float-left bg-dark border-0 rounded text-white" type="text" id="filter" onkeyup="filter_table('filter', 'servers', document)" placeholder="Search">
</div>

<table data-toggle="table" class="table" id="servers">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="bg-secondary">Name</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Vendor</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Model</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <td class="table-active"><%= link_to host.name, {controller: :hosts, action: 'show', id: host.name},
                      method: :get, class: "btn btn-link" %></td>
      <td class="table-active"><%= host.vendor %></td>
      <td class="table-active"><%= host.model %></td>
      <td class="table-active"><div class="round <%= host.connection_state == 'connected' ? 'bg-success' : 'bg-warning'  %>" alt="<%= host.connection_state %>"></div></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Minified script sources for sortable tables -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
      xmlns="http://www.w3.org/1999/html">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>