<% def seconds_to_units(seconds)
  '%d days, %d hours, %d minutes, %d seconds' %
    [24,60,60].reverse.inject([seconds]) {|result, unitsize|
      result[0,0] = result.shift.divmod(unitsize)
      result
    }
end %>

<div class="container mb-3 pl-0 pr-0" style="width: 100%">
  <h1 class="mb-0"><%= @host[:name] unless @host.nil? %></h1>
</div>
<div class="container mb-3 pb-3 lead align-middle pl-0 pr-0" style="width: 100%;">
  <% up_time = seconds_to_units(Time.current - @host[:bootTime]) unless @host[:bootTime].nil?
     state =  @host[:connectionState] == 'connected' %>
  <div class="<%= state ? 'bg-success' : 'bg-danger' %> text-white float-left pb-1 px-4 mr-2">
    <%= state ? 'online' : 'offline' %>
  </div>
  <%= " for #{up_time}" if state %>
  <div class="text-right float-right" style="width: 20%">
    <div class="dropdown border text-right">
      <a class="dropdown-toggle text-muted ml-0 pr-2 pt-1 lead nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-disabled="true">
        Manage
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Reserve Timeslot</a>
      </div>
    </div>
  </div>
</div>

<%
  hdd_free_space = (@host[:summary]&.host&.datastore.sum{ |datastore|  datastore.summary.freeSpace }.to_f / 1024**3).round(2) || 0
  hdd_allocation = (@host[:summary]&.host&.datastore.sum{ |datastore|  datastore.summary.capacity }.to_f / 1024**3).round(2) || 0
  hdd_usage = (hdd_allocation - hdd_free_space).round(2)
  cpu_usage = @host[:summary].quickStats&.overallCpuUsage || 0
  cpu_cores = @host[:summary]&.hardware&.numCpuCores || 1
  cpu_mhz = @host[:summary]&.hardware&.cpuMhz || 0
  cpu_allocation = cpu_cores * cpu_mhz
  ram_usage = (@host[:summary].quickStats&.overallMemoryUsage.to_f / 1024).round(2) || 0
  ram_allocation = (@host[:summary]&.hardware&.memorySize.to_f / 1024**3).round(2) || 0

  @values = {cpu_allocation: cpu_allocation, 
             cpu_usage: cpu_usage, 
             ram_allocation: ram_allocation, 
             ram_usage: ram_usage, 
             hdd_usage: hdd_usage, 
             hdd_allocation: hdd_allocation, 
             cpu_cores: cpu_cores } 

  @hardware = {'Vendor' => @host[:vendor],
               'Model' => @host[:model],
               'Power State' => @host[:summary].runtime.powerState,
               'OS' => "#{@host[:summary].config&.product&.osType} (#{@host[:summary]&.config&.product&.fullName})",
               'CPU Model' => @host[:summary]&.hardware&.cpuModel }         
  %>

<div class ="table-active container pt-3 pb-3 mb-3 text-center" style="width: 100%">
      <%= render 'templates/resource_allocation', values: @values %>
</div>

<div class="container mb-3 pb-3 pl-0 pr-0" style="width: 100%; clear: both; display: flex;">
  <div class="column float-left mr-3 half-screen-box">
    <%= render 'templates/hardware_table', hardware: @hardware %>
  </div>
  <div class="column float-right half-screen-box">
    <table class="table table-borderless" style="width: 100%">
      <tbody class="table-active">
        <tr>
          <th colspan="2"><h4 class="mb-0">Virtual Machines</h4></th>
        </tr>
        <% @host[:vms].each do |name, state| %>
        <tr>
          <td>
            <%= link_to name, controller: "vms", action: "show", id: name %>
            <div class="<%= state ? 'badge-success' : 'badge-danger' %> text-white badge">
              <%= state ? 'online' : 'offline' %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div style="clear: both"></div>