<% unless @notifications.empty? %>

  <% @notifications.each do |notification| %>
    <% class_names = notification.read ? "card mb-3 notification" : "card unread mb-3 notification" %>
    <div class="<%= class_names %>" style="width:100%">
      <div class="card-body">
        <%= link_to notification do %>
          <h5 class="card-title">
            <%= notification.title %>
          </h5>
          <%= # The [^\s|<] of the regex is necessary, because simple_format will add a </p> at the end of the message
              # Without the < exclusion, this </p> would then be added to the link, which breaks it!
              simple_format(notification.message).gsub(/(?:https?|ftp|mailto):\/\/[^\s|<]+/, '<a href="\0">\0</a>').html_safe
          %>
        <% end %>

        <div class="pull-right">
          <%= link_to notification, method: :delete, data: { confirm: 'Are you sure you want to delete this notification?' }, class: 'icon-link delete'  do %>
            <%= fa_icon('trash', class: 'big-icon') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% else %>
  <p>You don't have any notifications at the moment.</p>
<% end %>
