<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<% @notifications.each do |notification| %>
  <% classNames = notification.read ? "card mb-3" : "card unread mb-3" %>
  <div class="<%= classNames %>" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">
        <%= notification.title %>
      </h5>
      <%= notification.message %>
      <div class="pull-right">
        <%= link_to mark_as_read_notification_path(notification), class: 'icon-link' do %>
          <%= fa_icon('check', class: 'big-icon') %>
        <% end unless notification.read%>
        <%= link_to notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-link'  do %>
          <%= fa_icon('trash', class: 'big-icon') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>