<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <h5>Hardware Information</h5>
  </div>

      <div class="field">
        <%= form.label :cpu_cores, "CPU cores" %>
        <%= form.number_field :cpu_cores, min: 0, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :ram_mb, "RAM in MB" %>
        <%= form.number_field :ram_mb, min: 0, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :storage_mb, "Storage in MB" %>
        <%= form.number_field :storage_mb, min: 0, class: 'form-control' %>
      </div>

  <div class="field">
    <h5>Network Information</h5>
  </div>

      <div class="field">
        <%= form.label :ipv4_address, "IPv4 Address" %>
        <%= form.text_field :ipv4_address, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :ipv6_address, "IPv6 Address" %>
        <%= form.text_field :ipv6_address, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :mac_address, "Mac Address" %>
        <%= form.text_field :mac_address, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :fqdn, "Fully Qualified Domain Name (FQDN)" %>
        <%= form.text_field :fqdn, class: 'form-control' %>
      </div>

  <div class="field">
    <h5>Software Information</h5>
  </div>

<span id="response"></span>
<script>
var countBox = 1;
var boxName = 0;

function addInput()
{
  var boxName="software" + countBox;

  document.getElementById('response').innerHTML+='<div class="field"><input type="text" placeholder="Software ' + countBox + '" class="form-control" name="' + boxName + '" id="' + boxName + '" /></div>';

  countBox += 1;
}
</script>

  <div class="field">
    <input type="button" onclick="addInput()" value="Add Software" />
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
