<%# https://github.com/bootstrap-ruby/bootstrap_form %>
<%= bootstrap_form_with(model: server, local: true, layout: :horizontal) do |form| %>
  <%# https://github.com/bootstrap-ruby/bootstrap_form#alert-messages %>
  <%= form.alert_message "Please fix the errors below.", error_summary: false %>

  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <%# form.collection_select(method, collection, value_method, text_method, options = {}, html_options = {}) %>
  <%= form.collection_select :responsible, User.all, :id, :human_readable_identifier,
    options = {},
    html_options = {multiple: false, class: 'selecttwo'} %>

  <h5>Hardware Information</h5>
  <%= form.text_field :vendor %>
  <%= form.text_field :model %>
  <%= form.number_field :cpu_cores, min: 0, label: 'CPU Cores' %>
  <%= form.number_field :ram_gb, min: 0, label: 'RAM in GB' %>
  <%= form.number_field :storage_gb, min: 0, label: 'Storage in GB' %>

  <h5>Network Information</h5>
  <%= form.text_field :ipv4_address, label: 'IPv4 Address' %>
  <%= form.text_field :ipv6_address, label: 'IPv6 Address' %>
  <%= form.text_field :mac_address, label: 'MAC Address' %>
  <%= form.text_field :fqdn, label: 'Fully Qualified Domain Name (FQDN)' %>

  <h5>Software Information</h5>

  <script>
    function addInput() {
      $('<input/>', {
        type: 'text', placeholder: 'Software',
        class: 'form-control mb-1',
        name: 'server[installed_software][]'
      }).appendTo('#anchor');
    }
  </script>

  <div class="field form-group">
    <%= form.label :installed_software, "Installed Software" %>
    <% server.installed_software.each do |software| %>
      <%= form.text_field :installed_software, multiple: true, value: software, class: 'form-control mb-1' %>
    <% end %>

    <span id="anchor"></span>
    <input type="button" onclick="addInput()" value="Add Software" />
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
