<%# https://github.com/bootstrap-ruby/bootstrap_form %>
<%= bootstrap_form_with(model: server, local: true, layout: :horizontal) do |form| %>
  <%= form.alert_message "Please fix the errors below.", error_summary: false %>

  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <%# form.collection_select(method, collection, value_method, text_method, options = {}, html_options = {}) %>
  <%= form.collection_select :responsible, User.all, :id, :human_readable_identifier,
    options = {},
    html_options = {multiple: false, class: 'selecttwo'} %>
  <div class="field">
    <h5>Hardware Information</h5>
  </div>

  <%= form.text_field :vendor %>
  <%= form.text_field :model %>
  <%= form.number_field :cpu_cores, min: 0, label: 'CPU Cores' %>
  <%= form.number_field :ram_gb, min: 0, label: 'RAM in GB' %>
  <%= form.number_field :storage_gb, min: 0, label: 'Storage in GB' %>

  <div class="field">
    <h5>Network Information</h5>
  </div>

  <%= form.text_field :ipv4_address, label: 'IPv4 Address' %>
  <%= form.text_field :ipv6_address, label: 'IPv6 Address' %>
  <%= form.text_field :mac_address, label: 'MAC Address' %>
  <%= form.text_field :fqdn, label: 'Fully Qualified Domain Name (FQDN)' %>

  <div class="field">
    <h5>Software Information</h5>
  </div>

<span id="response"></span>
<script>
var countBox = 1;
var boxName = 0;

function addInput()
{
  var boxName="software" + countBox;
  var input = document.createElement("div");
  input.setAttribute("class", "field");

  var inputKind = document.createElement("INPUT");
  inputKind.setAttribute("type", "text");
  inputKind.setAttribute("placeholder", "Software " + countBox);
  inputKind.setAttribute("class", "form-control mt-1");
  inputKind.setAttribute("name", boxName);
  inputKind.setAttribute("id", boxName);

  input.appendChild(inputKind);
  document.getElementById('response').appendChild(input);

  countBox += 1;
}
</script>

  <div class="field form-group">
    <input type="button" onclick="addInput()" value="Add Software" class="btn btn-secondary mt-1"/>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

