<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :responsible, "Responsible" %>
    <%# form.collection_select(method, collection, value_method, text_method, options = {}, html_options = {}) %>
    <%= form.collection_select(:responsible_id, User.all, :id, :human_readable_identifier,
                              options={prompt: true}, html_options={class: "selecttwo"}) %>
  </div>

  <div class="field">
    <h5>Hardware Information</h5>
  </div>
      <div class="field form-group">
        <%= form.label :vendor, "Vendor" %>
        <%= form.text_field :vendor, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= form.label :model, "Model" %>
        <%= form.text_field :model, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :cpu_cores, "CPU cores" %>
        <%= form.number_field :cpu_cores, min: 0, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :ram_gb, "RAM in GB" %>
        <%= form.number_field :ram_gb, min: 0, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :storage_gb, "Storage in GB" %>
        <%= form.number_field :storage_gb, min: 0, class: 'form-control' %>
      </div>

  <div class="field">
    <h5>Network Information</h5>
  </div>

      <div class="field form-group">
        <%= form.label :ipv4_address, "IPv4 Address" %>
        <%= form.text_field :ipv4_address, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :ipv6_address, "IPv6 Address" %>
        <%= form.text_field :ipv6_address, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :mac_address, "Mac Address" %>
        <%= form.text_field :mac_address, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :fqdn, "Fully Qualified Domain Name (FQDN)" %>
        <%= form.text_field :fqdn, class: 'form-control' %>
      </div>

  <div class="field">
    <h5>Software Information</h5>
  </div>

  <script>
    function addInput() {
      $('<input/>', {
        type: 'text', placeholder: 'Software',
        class: 'form-control mb-1',
        name: 'server[installed_software][]'
      }).appendTo('#anchor');
    }
  </script>

  <div class="field form-group">
    <%= form.label :installed_software, "Installed Software" %>
    <% server.installed_software.each do |software| %>
      <%= form.text_field :installed_software, multiple: true, value: software, class: 'form-control mb-1' %>
    <% end %>

    <span id="anchor"></span>
    <input type="button" onclick="addInput()" value="Add Software" />
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
