<div class="clearfix">
  <h1 class="float-left">Servers</h1>
  <% if current_user.admin? %>
    <%= link_to(fa_icon('plus'), new_server_path,
      method: :get, class: "btn btn-primary float-right mt-3") %>
  <% end %>
</div>

<input class="mb-3 bg-secondary border-0 rounded text-white filter-box" type="text" id="filter" onkeyup="filter_table('filter', 'servers', document)" placeholder="Search">

<table data-toggle="table" class="table" id="servers">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="bg-primary text-white rounded-left">Name</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white">Vendor</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white">Model</th>
    <th scope="col" data-sortable="true" class="bg-primary text-white rounded-right">Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <td class="table-active"><%= link_to server.name, server, class: "btn btn-link" %></td>
      <td class="table-active"><%= server.vendor %></td>
      <td class="table-active"><%= server.model %></td>
      <td class="table-active"><%= server.responsible&.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>