<h1>
  Servers
</h1>

<input type="text" id="filter" onkeyup="filter_table('filter', 'servers', document)" placeholder="Search for server..">

<table data-toggle="table" class="table" id="servers">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">Name</th>
    <th scope="col" data-sortable="true">Vendor</th>
    <th scope="col" data-sortable="true">Model</th>
    <th scope="col" data-sortable="true">Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <td><%= link_to server.name, server  %></td>
      <td><%= server.vendor %></td>
      <td><%= server.model %></td>
      <td><%= server.responsible %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @user_is_admin %>
  <table class="table">
    <tbody>
    <tr>
      <td><%= button_to "New",
                        {controller: :servers, action: 'new'},
                        method: :get, class: "btn btn-info" %></td>
    </tr>
    </tbody>
  </table>
<% end %>

<!-- Minified script sources for sortable tables -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
      xmlns="http://www.w3.org/1999/html">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script> 