<h1>
  Servers
</h1>

<div class="mb-3 clearfix">
  <input class="float-left bg-dark border-0 rounded text-white" type="text" id="filter" onkeyup="filter_table('filter', 'servers', document)" placeholder="Search">
  <% if @user_is_admin %>
    <%= button_to "New",
      {controller: :servers, action: 'new'},
      method: :get, class: "btn btn-info float-right" %>
  <% end %>
</div>

<table data-toggle="table" class="table" id="servers">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="bg-secondary">Name</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Vendor</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Model</th>
    <th scope="col" data-sortable="true" class="bg-secondary">Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <td class="table-active"><%= link_to server.name, server  %></td>
      <td class="table-active"><%= server.vendor %></td>
      <td class="table-active"><%= server.model %></td>
      <td class="table-active"><%= server.responsible %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Minified script sources for sortable tables -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
      xmlns="http://www.w3.org/1999/html">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>