<p id="notice"><%= notice %></p>

<h1>Servers</h1>

<table class="table-bar">
  <tbody>
    <tr>
      <td>
        <%=link_to(fa_icon('plus'),
        {controller: :servers, action: 'new'},
        method: :get, class: 'btn btn-primary') %>
      </td>
    </tr>
  </tbody>
</table>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @servers.length == 0 %>
<p class="empty-table-label">No servers created yet</p>
<% end %>
