<h1>Servers</h1>

<% if current_user.admin? %>
  <%= link_to fa_icon('plus'), new_server_path,
    title: 'Create new server',
    :data => { toggle: 'tooltip', placement: 'left' },
    class: "btn btn-primary float-right" %>
<% end %>

<table data-toggle="datatable" class="table" id="servers">
  <thead>
  <tr>
    <th>Name</th>
    <th>Vendor</th>
    <th>Model</th>
    <th>Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <td><%= link_to server.name, server_path(server) %></td>
      <td><%= server.vendor %></td>
      <td><%= server.model %></td>
      <td><%= server.responsible.name %></td>
    </tr>
  <% end %> <%# @servers.each %>
  </tbody>
</table>