<div class="<%= 'boot-time mt-1' if vm.powered_on? %>">
  <div class="round
                     <%= vm.powered_on? ? 'bg-success' : 'bg-warning mt-1'  %>">
  </div>
  <%= vm.boot_time.to_s.strip if vm.powered_on? %>
</div>
<% if current_user.admin? || vm.users_without_pull.include?(current_user) %>
  <% if vm.vm_ware_tools? %>
    <%= link_to '',
                {controller: :vms, action: 'change_power_state', id: vm.name},
                method: :post,
                data: { confirm: 'Are you sure?' },
                class: "btn-manage float-right #{ vm.powered_on? ? 'stop' : 'play' }" %>
    <% if vm.powered_on? %>
      <%= link_to '',
                  {controller: :vms, action: 'reboot_guest_os', id: vm.name},
                  method: :post,
                  data: { confirm: 'Are you sure?' },
                  class: "btn-manage float-right replay" %>
    <% end %>
  <% end %>
<% end %>
