<% require './app/assets/helpers/hart_form_builder' %>

<h1>Configuring IP and DNS for VM '<%= @vm.name %>'</h1>

<%= form_with(scope: :vm_info, model: @vm.config, url: {:controller => "vms", :action => "update_config", id: @vm.config.name}, local: true, builder: HartFormBuilder) do |form| %>
  <% if @vm.request %>
    <div class="field">
      <div>
        <strong>Operating System</strong> <br>
        <%= label "Operating System", @vm.request.operating_system %>
      </div>
      <div>
        <strong>Comment</strong><br>
        <%= label "Comment", @vm.request.comment %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <p><strong>Network Adapters</strong></p>
    <table class="table">
      <tr>
        <th>Adapter</th>
        <th>MAC Address</th>
      </tr>
      <% @vm.macs.each do |each| %>
        <tr>
          <td><%= each.first %></td>
          <td><span id="macAddress"><%= each.second %></span><button style="border: none; outline: none;" class="fa fa-copy" onclick="copy(event)"></button></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="field">
    <%= form.labeled_text_field 'IP', :ip%>
  </div>

  <div class="field">
    <%= form.labeled_text_field 'DNS', :dns%>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class: "btn btn-primary" %>
  </div>
<% end %>