<h1>
  Edit VM information of <span class="font-italic"><%= @configuration.name %></span>
</h1>

<%# https://github.com/bootstrap-ruby/bootstrap_form %>
<%= bootstrap_form_with(scope: :vm_info, url: { :controller => "vms", :action => "update", id: @configuration.name }, method: :patch, local: true, layout: :horizontal) do |form| %>
  <%# https://github.com/bootstrap-ruby/bootstrap_form#alert-messages %>
  <%= form.alert_message "Please fix the errors below.", error_summary: false %>

  <%# form.collection_select(method, collection, value_method, text_method, options = {}, html_options = {}) %>
  <%= form.collection_select :sudo_user_ids, User.all, :id, :human_readable_identifier,
    options = {selected: @sudo_user_ids, include_hidden: false, label: 'Users with sudo rights'},
    html_options = {multiple: true, class: 'selecttwo'} %>
  <%= form.collection_select :user_ids, User.all, :id, :human_readable_identifier,
    options = {selected: @non_sudo_user_ids, include_hidden: false, label: 'Users without sudo rights'},
    html_options = {multiple: true, class: 'selecttwo'} %>

  <%= form.text_area :description, cols: 40, rows: 4, value: @configuration.description %>

  <% if current_user.admin? %>
    <%= form.text_field :ip, label: 'IP', value: @configuration.ip %>
    <%= form.text_field :dns, label: 'DNS', value: @configuration.dns %>
  <%end  %>

  <%= form.submit 'Update VM information', class: 'btn btn-primary' %>
<% end %>