<h1>Edit VM information of <span style="font-style: italic;"><%= @vm.name %></span></h1>

<%= form_with(scope: :vm_info, url: { :controller => "vms", :action => "update", id: @vm.name }, method: :patch, local: true, builder: HartFormBuilder) do |form| %>
  <div class="field">
    <%= form.label :sudo_user_ids, "Users with sudo rights" %>
    <%= form.select :sudo_user_ids,
        options_from_collection_for_select(User.all, :id, :human_readable_identifier, @sudo_user_ids),
        { include_hidden: false},
        { multiple: true, class: 'selecttwo form-control'} %>
  </div>

  <div class="field">
    <%= form.label :non_sudo_user_ids, "Users without sudo rights" %>
    <%= form.select :non_sudo_user_ids,
        options_from_collection_for_select(User.all, :id, :human_readable_identifier, @non_sudo_user_ids),
        { include_hidden: false },
        { multiple: true, class: 'selecttwo form-control'} %>
  </div>

  <div class="field">
      <%= form.label :description, 'Description' %>
      <%= form.text_area :description, cols: "40", rows: "4", class: 'form-control', value: @configuration.description %>
  </div>

  <% if current_user.admin? %>
    <%= form.labeled_text_field 'IP', :ip, value: @configuration.ip %>
    <%= form.labeled_text_field 'DNS', :dns, value: @configuration.dns %>
  <%end  %>

  <div class="actions">
    <%= form.submit 'Update VM information', class: "btn btn-primary" %>
  </div>
<% end %>