<h1>Edit VM information of <%= @vm[:name] %></h1>

<%= form_with(url: vm_path(@vm[:name]), local: true, method: :put) do |form| %>

<div class="field">
    <label for="sudo_user_ids">Users with sudo rights:</label>
    <%= form.select 'sudo_user_ids',
                    options_from_collection_for_select(User.all,
                                                     :id,
                                                     :email, 
                                                     @sudoer_ids),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'choose wisely' }, style: 'width: 50%' } %>
    <label for="non_sudo_user_ids">Users without sudo rights:</label>
    <%= form.select 'non_sudo_user_ids',
                    options_from_collection_for_select(User.all,
                                                     :id,
                                                     :email, 
                                                     @non_sudoer_ids),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'choose wisely' }, style: 'width: 50%' } %>

    <div class="field">
        <%= form.label 'description' %>
        <%= form.text_area 'description', cols: "40", rows: "4", class: 'form-control', value: @request.description %>
    </div>
    <%= form.submit 'save', class: 'btn btn-primary' %>
</div>
<% end %>
