<h1>Configuring IP and DNS for VM '<%= @vm.name %>'</h1>

<% if @vm.request %>
  <h5>Operating System</h5>
  <dl>
    <dt>Name</dt>
    <dd><%= @vm.request.operating_system %></dd>
    <% unless @vm.request.comment.blank? %>
      <dt>Comment</dt>
      <dd><%= @vm.request.comment %></dd>
    <% end %>
  </dl>
<% end %>

<h5>Network Adapters</h5>
<dl>
  <% @vm.macs.each do |adapter_name, mac_address| %>
    <dt><%= adapter_name %></dt>
    <dd>
      <%= mac_address %>
      <%# Copy to clipboard button, JS matches on 'clipboard-btn' class %>
      <span class="btn btn-outline-primary btn-sm fa fa-copy clipboard-btn"
        title="Copy MAC address to clipboard"
        data-clipboard-text="<%= mac_address %>">
      </span>
    </dd>
  <% end %>
</dl>

<h5>IP and DNS</h5>
<%= bootstrap_form_with(scope: :vm_info, model: @vm.config, url: {:controller => "vms", :action => "update_config", id: @vm.config.name}, local: true, layout: :horizontal) do |form| %>
  <%= form.text_field :ip, label: 'IP' %>
  <%= form.text_field :dns, label: 'DNS' %>
  <%= form.submit 'Update', class: "btn btn-primary" %>
<% end %>
