<h1>Editing configuration of VM '<%= @vm.name %>'</h1>

<%= form_with(scope: :vm_info, model: @vm.config, url: { :controller => "vms", :action => "update_config", id: @vm.config.name }, local: true) do |form| %>
  <div class="field">
    <p>Network Adapters</p>
    <table class="table">
      <tr>
        <th>Adapter</th>
        <th>MAC Address</th>
      </tr>
      <% @vm.macs.each do |each| %>
        <tr>
          <td><%= each.first %></td>
          <td><%= each.second %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="field">
    <%= form.label :ip, "IP" %>
    <%= form.text_field :ip, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :dns, "DNS" %>
    <%= form.text_field :dns, class: 'form-control' %>
  </div>

  <% if @vm.request %>
    <table class="table table-fixed-columns table-flex-width">
      <tbody>
        <tr>
          <td><strong>Operating System:</strong></td>
          <td><%= @vm.request.operating_system %></td>
        </tr>

        <tr>
          <td><strong>Comment:</strong></td>
          <td class="col-md-4"><%= @vm.request.comment %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update Configuration', class: "btn btn-primary" %>
  </div>
<% end %>