<div class="clearfix">
  <h1 class="float-left">Virtual Machines</h1>
  <input class="filter-box ml-3 mt-2" type="text" id="filter_active" onkeyup="filterTables('filter_active', ['vms_active', 'vms_to_be_archived', 'vms_to_be_revived', 'vms_archived'])" placeholder="Search all VMs">
  <% if current_user.employee_or_admin? %>
    <%= button_to "+", new_request_path,
      method: :get,
      title: 'Request new VM',
      :data => { toggle: 'tooltip', placement: 'left' },
      form_class: "float-right",
      class: "btn btn-primary" %>
  <% end %>
</div>

<%= render 'section', {header: 'Active VMs', id: 'active', vms: @vms, buttons: 'running_vm_buttons'} %>
<%= render 'section', {header: 'Archivable VMs', id: 'to_be_archived', vms: @pending_archivation_vms, buttons: 'archive_buttons'} %>
<%= render 'section', {header: 'Revivable VMs', id: 'to_be_revived', vms: @pending_reviving_vms, buttons: 'to_revive_buttons'} %>
<%= render 'section', {header: 'Archived VMs', id: 'archived', vms: @archived_vms, buttons: 'revive_buttons'} %>