<h1 class="float-left">Virtual Machines</h1>

<div class="clearfix">
  <% if current_user.employee_or_admin? %>
    <%= link_to fa_icon('plus'), new_request_path,
      title: 'Request new VM',
      :data => { toggle: 'tooltip', placement: 'left' },
      class: "btn btn-primary float-right" %>
  <% end %>
</div>

<%= render 'section', {header: 'Active VMs', id: 'active', vms: @vms, buttons: 'running_vm_buttons'} %>
<%= render 'section', {header: 'Archivable VMs', id: 'to_be_archived', vms: @pending_archivation_vms, buttons: 'archive_buttons'} %>
<%= render 'section', {header: 'Revivable VMs', id: 'to_be_revived', vms: @pending_reviving_vms, buttons: 'to_revive_buttons'} %>
<%= render 'section', {header: 'Archived VMs', id: 'archived', vms: @archived_vms, buttons: 'revive_buttons'} %>