<div class="clearfix">
  <h1 class="float-left">Virtual Machines</h1>
  <% if current_user.employee_or_admin? %>
    <%= button_to "New Request", new_request_path,
      method: :get,
      class: "btn btn-primary float-right mt-3" %>
    <%= button_to "All Requests", requests_path,
      method: :get,
      class: "btn btn-primary float-right mt-3 mr-3" %>
  <% end %>
</div>

<%= link_to "Active machines (#{@vms&.size}) <small>&#x25bc;</small>".html_safe, '#active' %><br />
<%= link_to "To be archived (#{@pending_archivation_vms&.size}) <small>&#x25bc;</small>".html_safe, '#to_be_archived' %><br />
<%= link_to "To be revived (#{@pending_reviving_vms&.size}) <small>&#x25bc;</small>".html_safe, '#to_be_revived' %><br />
<%= link_to "Archived machines (#{@archived_vms&.size}) <small>&#x25bc;</small>".html_safe, '#archived' %>

<h2 id="active">Active machines</h2>

<input class="filter-box" type="text" id="filter_active" onkeyup="filter_table('filter_active', 'vms_active', document)" placeholder="Search">

<table data-toggle="table" class="table" id="vms_active">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">Name</th>
    <th scope="col" data-sortable="true">Project</th>
    <th scope="col" data-sortable="true">Responsible</th>
    <th scope="col" data-sortable="true" class="rounded-right">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @vms&.each do |vm| %>
    <tr>
      <td class="table-active">
        <%= link_to vm.name,
          {controller: :vms, action: 'show', id: vm.name},
          method: :get, class: "btn btn-link"  %>
      </td>
      <td class="table-active">
        <% if vm.project.nil? %>
          No project found!
        <% else %>
          <% debug vm.project %>
          <%= link_to vm.project.name, vm.project %>
        <% end %>
      </td>
      <td class="table-active">
        <% if vm.responsible_users.empty? %>
          No responsible users found!
        <% else %>
          <ul class="list-unstyled">
            <% vm.responsible_users.each do |user| %>
              <li><%= link_to user.name, user %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td class="table-active align-middle">
        <%= render 'vm_status', vm: vm %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 id="to_be_archived">To be archived</h2>

<input class="filter-box" type="text" id="filter_to_be_archived" onkeyup="filter_table('filter_to_be_archived', 'vms_to_be_archived', document)" placeholder="Search">

<table data-toggle="table" class="table" id="vms_to_be_archived">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">Name</th>
    <th scope="col" data-sortable="true">Project</th>
    <th scope="col" data-sortable="true">Responsible</th>
    <th scope="col" data-sortable="true" class="rounded-right">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @pending_archivation_vms&.each do |vm| %>
    <tr>

      <td class="table-active">
        <%= link_to vm.name,
          {controller: :vms, action: 'show', id: vm.name},
          method: :get, class: "btn btn-link"  %>
      </td>
      <td class="table-active">
        <% if vm.project.nil? %>
          No project found!
        <% else %>
          <%= link_to vm.project.name, vm.project %>
        <% end %>
      </td>
      <td class="table-active">
        <% if vm.responsible_users.empty? %>
          No responsible users found!
        <% else %>
          <ul class="list-unstyled">
            <% vm.responsible_users.each do |user| %>
              <li><%= link_to user.name, user %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td class="table-active">
        <div class="<%= 'boot-time mt-1' if vm.powered_on? %>">
          <div class="round
            <%= vm.powered_on? ? 'bg-success' : 'bg-warning mt-1'  %>">
          </div>
          <%= vm.boot_time.to_s.strip if vm.powered_on? %>
        </div>
        <%if current_user.admin? && vm.archivable? %>
          <%= link_to '',
                      {controller: :vms, action: 'archive_vm', id: vm.name},
                      method: :post, data: { confirm: 'Are you sure you want to archive this VM?' },
                      class: "btn-manage float-right checkmark" %>
        <% end %>
        <%= link_to '',
                    {controller: :vms, action: 'revive_vm', id: vm.name},
                    method: :post,
                    class: "btn-manage float-right cross" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 id="to_be_revived">To be revived</h2>

<input class="filter-box" type="text" id="filter_to_be_revived" onkeyup="filter_table('filter_to_be_revived', 'vms_to_be_revived', document)" placeholder="Search">

<table data-toggle="table" class="table" id="vms_to_be_revived">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">Name</th>
    <th scope="col" data-sortable="true">Project</th>
    <th scope="col" data-sortable="true" class="rounded-right">Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @pending_reviving_vms&.each do |vm| %>
    <tr>

      <td class="table-active">
        <%= link_to vm.name,
          {controller: :vms, action: 'show', id: vm.name},
          method: :get, class: "btn btn-link"  %>
      </td>
      <td class="table-active">
        <% if vm.project.nil? %>
          No project found!
        <% else %>
          <%= link_to vm.project.name, vm.project %>
        <% end %>
      </td>
      <td class="table-active">
        <% if vm.responsible_users.empty? %>
          No responsible users found!
        <% else %>
          <ul class="list-unstyled">
            <% vm.responsible_users.each do |user| %>
              <li><%= link_to user.name, user %></li>
            <% end %>
          </ul>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to '',
            {controller: :vms, action: 'revive_vm', id: vm.name},
            method: :post,
            class: "btn-manage float-right checkmark" %>

        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 id="archived">Archived machines</h2>

<input class="filter-box" type="text" id="filter_archived" onkeyup="filter_table('filter_archived', 'vms_archived', document)" placeholder="Search">

<table data-toggle="table" class="table" id="vms_archived">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">Name</th>
    <th scope="col" data-sortable="true">Project</th>
    <th scope="col" data-sortable="true" class="rounded-right">Responsible</th>
  </tr>
  </thead>
  <tbody>
  <% @archived_vms&.each do |vm| %>
    <tr>
      <td class="table-active">
        <%= link_to vm.name,
          {controller: :vms, action: 'show', id: vm.name},
          method: :get, class: "btn btn-link"  %>
      </td>
      <td class="table-active">
        <% if vm.project.nil? %>
          No project found!
        <% else %>
          <%= link_to vm.project.name, vm.project %>
        <% end %>
      </td>
      <td class="table-active align-middle">
        <% if vm.responsible_users.empty? %>
          No responsible users found!
        <% else %>
          <ul class="list-unstyled">
            <% vm.responsible_users.each do |user| %>
              <li><%= link_to user.name, user %></li>
            <% end %>
          </ul>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to '',
            {controller: :vms, action: 'revive_vm', id: vm.name},
            method: :post,
            class: "btn-manage float-right arrow-up" %>
        <% else %>
          <%= link_to '',
            {controller: :vms, action: 'request_vm_revive', id: vm.name},
            method: :post,
            class: "btn-manage float-right arrow-up" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
