<h1>Create a new Virtual Machine</h1>
<%= form_tag('/vms') do %>
<div class="create-form">
  <div class="form-group">
    <label for="name">Name</label>
    <%= text_field_tag 'name', nil, class: 'form-control', value: @request[:name] %>
  </div>
  <div class="form-group">
    <label for="cpu">CPU</label>
    <%= text_field_tag 'cpu', nil, class: 'form-control', value: @request[:cpu_cores] %>
  </div>
  <div class="form-group">
    <label for="ram">RAM</label>
    <%= text_field_tag 'ram', nil, class: 'form-control', value: @request[:ram_mb] %>
  </div>
  <div class="form-group">
    <label for="capacity">Capacity</label>
    <%= text_field_tag 'capacity', nil, class: 'form-control', value: @request[:storage_mb] %>
  </div>
</div>
<div ><%= submit_tag 'Create VM', class: "btn btn-info" %></div>
<% end %>
