<h1>
  Details for Virtual Machine "<%= @vm[:name] unless @vm.nil?%>"
</h1>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<table class="table">
    <tbody>
    <tr>
    <td>Boot time:</td>
    <td><%= @vm[:boot_time] unless @vm.nil?%></td>
    </tr>

    <tr>
    <td>State:</td>
    <td><%= @vm[:summary].runtime.powerState unless @vm.nil?%></td>
  </tr>

    <tr>
    <td>Heartbeat status:</td>
    <td><%= @vm[:guestHeartbeatStatus] unless @vm.nil?%> </td>
    </tr>

      <tr>
    <td>Host:</td>
    <td>
    <%= link_to @vm[:host], controller: "servers", action: "show", id: @vm[:host] unless @vm.nil?%>
    </td>

    <%
      if @vm.nil?
        space_usage_percentage = ''
        committed_mb = ''
        total_mb = ''
      else
        committed = @vm[:summary].storage.committed
        uncommitted = @vm[:summary].storage.uncommitted
        committed_mb = committed / (1024 ** 2)
        uncommitted_mb = uncommitted / (1024 ** 2)
        total_mb = committed_mb + uncommitted_mb
        total = committed + uncommitted
        space_usage_percentage = 0
        if total != 0
          space_usage_percentage = (committed / total.to_f * 100).round()
        end
      end
    %>
    <tr>
    <td>Space Usage:</td>
    <td><%= space_usage_percentage %> % (<%= committed_mb %> / <%= total_mb %> MB) </td>
    </tr>
    
  <tr>
    <td>OS:</td>
    <td><%= @vm[:summary].config.guestId unless @vm.nil? %> (<%= @vm[:summary].config.guestFullName unless @vm.nil?%>)</td>
  </tr>

  </tr>
    <tr>
    <td>IP address:</td>
    <td><%= @vm[:summary].guest.ipAddress unless @vm.nil?%></td>
  </tr>
  <%
    if @vm.nil?
      cpu_usage_percentage = ''
      memory_usage_percentage = ''
      memory_usage = ''
      memory_allocation = ''
    else
      cpu_usage = @vm[:summary].quickStats.overallCpuUsage
      cpu_allocation = @vm[:summary].config.cpuReservation
      memory_usage = @vm[:summary].quickStats.guestMemoryUsage
      memory_allocation = @vm[:summary].config.memoryReservation
      cpu_usage_percentage = 0
      memory_usage_percentage = 0

      if cpu_allocation != 0
        cpu_usage_percentage = (cpu_usage / cpu_allocation.to_f * 100).round()
      end

      if memory_allocation != 0
        memory_usage_percentage = (memory_usage / memory_allocation.to_f * 100).round()
      end
    end
  %>
  <tr>
    <td>CPU usage:</td>
    <td><%= cpu_usage_percentage %> %</td>
  </tr>

    <tr>
    <td>Memory usage:</td>
    <td><%=  memory_usage_percentage%> % (<%= memory_usage %> / <%= memory_allocation %> MB)</td>
  </tr>
    
  </tbody>
</table>


<table class="table">
    <tbody>
      <tr>
        <% if @vm[:state] %>
          <td><%= button_to 'Suspend',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-warning' %></td>
          <td><%= button_to 'Shutdown Guest OS',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-danger' %></td>
          <td><%= button_to 'Restart Guest OS',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-primary' %></td>
          <td><%= button_to 'Reset',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-primary' %></td>
          <td><%= button_to 'Power Off',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-danger' %></td>
        <% else %>
          <td><%= button_to 'Power On',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-success' %></td>
        <% end %>

          <td><%= button_to 'Delete',
            {controller: :vms, action: 'destroy', id: @vm[:name]},
            method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
</table>