<h1>
  Details for Virtual Machine "<%= @vm[:name] unless @vm.nil? %>"
</h1>

<% 
  committed = (@vm[:summary]&.storage&.committed / 1024 ** 3).round(2) || 0
  uncommitted = (@vm[:summary]&.storage&.committed / 1024 ** 3).round(2) || 0
  hdd_usage = committed
  hdd_allocation = committed + uncommitted
  cpu_usage = @vm[:summary].quickStats&.overallCpuUsage || 0
  cpu_allocation = @vm[:summary].config&.cpuReservation || 0
  ram_usage = (@vm[:summary].quickStats&.guestMemoryUsage.to_f / 1024).round(2) || 0
  ram_allocation = (@vm[:summary].config&.memorySizeMB.to_f / 1024).round(2) || 0
  cpu_cores = @vm[:summary].config&.numCpu  || 0


  @values = {cpu_allocation: cpu_allocation, 
             cpu_usage: cpu_usage, 
             ram_allocation: ram_allocation, 
             ram_usage: ram_usage, 
             hdd_usage: hdd_usage, 
             hdd_allocation: hdd_allocation, 
             cpu_cores: cpu_cores } %>

<table class = "table text-center">
  <tr>
    <td>
      <%= render 'templates/resource_allocation', values: @values %>
    </td>
  </tr>
</table>


<table class="table">
    <tbody>
    <tr>
    <td>Boot time:</td>
    <td><%= @vm[:boot_time] unless @vm.nil? %></td>
    </tr>

    <tr>
    <td>State:</td>
    <td><%= @vm[:summary].runtime.powerState unless @vm.nil? %></td>
  </tr>

    <tr>
    <td>Heartbeat status:</td>
    <td><%= @vm[:guestHeartbeatStatus] unless @vm.nil? %> </td>
    </tr>

      <tr>
    <td>Host:</td>
    <td>
    <%= link_to @vm[:host], controller: "hosts", action: "show", id: @vm[:host] unless @vm.nil? %>
    </td>

   
  <tr>
    <td>OS:</td>
    <td><%= @vm[:summary].config.guestId unless @vm.nil? %> (<%= @vm[:summary].config.guestFullName unless @vm.nil? %>)</td>
  </tr>

  </tr>
    <tr>
    <td>IP address:</td>
    <td><%= @vm[:summary].guest.ipAddress unless @vm.nil? %></td>
  </tr>
  </tbody>
</table>


<table class="table">
    <tbody>
      <tr>
        <% if @vm[:state] %>
          <td><%= button_to 'Suspend',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-warning' %></td>
          <td><%= button_to 'Shutdown Guest OS',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-danger' %></td>
          <td><%= button_to 'Restart Guest OS',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-primary' %></td>
          <td><%= button_to 'Reset',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-primary' %></td>
          <td><%= button_to 'Power Off',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-danger' %></td>
        <% else %>
          <td><%= button_to 'Power On',
            {controller: :vms, action: 'show', id: @vm[:name]},
            method: :get, class: 'btn btn-success' %></td>
        <% end %>

          <td><%= button_to 'Delete',
            {controller: :vms, action: 'destroy', id: @vm[:name]},
            method: :delete, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
</table>