<% if @user.errors.any? %>
  <div id="errors">
    <% @user.errors.messages.values.each do |messages| %>
      <% messages.each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1>User profile</h1><br>

<%= form_for @user do |form| %>
  <table class="table">
    <tbody>
      <tr>
        <td><%= User.human_attribute_name('email') %></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td><%= User.human_attribute_name('ssh_key') %></td>
        <td><%= form.text_area :ssh_key, class: 'form-control', rows: '8', id: 'sshKeyField' %></td>
      </tr>
      <tr>
        <td><%= User.human_attribute_name('email_notifications') %></td>
        <td><%= form.check_box :email_notifications %></td>
      </tr>
    </tbody>
  </table><br>

  <button type='submit',
  class='btn btn-primary float-right',
  id='saveUserButton'>
    <i class="fa fa-check"></i>
    <%= t('actions.save') %>
  </button>

  <%= link_to(fa_icon('close', text: t('actions.cancel')),
              user_path(@user),
              class: 'btn btn-danger float-right mx-3',
              id: 'editUserButton')
  %>
<% end %>
