<h1>User profile</h1><br>

<%= form_for @user do |f| %>
  <table class="table">
    <tbody>
    <tr>
      <td><%= User.human_attribute_name('email') %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td><%= User.human_attribute_name('ssh_key') %></td>
        <td><%= f.text_area :ssh_key, class: 'form-control', rows: '8', id: 'sshKeyField' %></td>
      </tr>
    <% end %>
    </tbody>
  </table><br>

  <%= link_to(fa_icon('check', text: t('actions.save')),
              user_path(@user),
              class: 'btn btn-primary float-right',
              id: 'saveUserButton')
  %>

  <%= link_to(fa_icon('close', text: t('actions.cancel')),
              user_path(@user),
              class: 'btn btn-danger float-right mx-3',
              id: 'editUserButton')
  %>
<% end %>
