<h1>Users</h1>
<small class="text-muted">This is the overview page for all currently existing users.</small><br /><br />

<input class="mb-3 bg-secondary border-0 rounded text-white filter-box" type="text" id="filter_users" onkeyup="filter_table('filter_users', 'users', document)" placeholder="Search">

<table class="table" id="users">
  <thead>
    <th><%= User.human_attribute_name('name') %></th>
    <th><%= User.human_attribute_name('email') %></th>
    <% if current_user.admin? %>
      <th><%= User.human_attribute_name('role') %></th>
    <% end %>
    <th><%= User.human_attribute_name('last_sign_in_at') %></th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <% if current_user.admin? %>
          <td data-filter-value="<%= user.role %>">
            <div class="btn-group
                        border
                        border-<%= if last_admin?(user) && current_user?(user) then 'secondary' else 'primary' end%>
                        rounded"
                 role="group">
              <% User.roles.map(&:first).each do |role| %>
                <% if last_admin?(user) && current_user?(user) %>
                  <button class="btn
                                 btn-<%= if user.role == role then 'secondary' else 'light' end %>
                                 disabled"
                          id= "btn-<%= role %>-<%= user.id %>">
                    <%= role.capitalize %>
                  </button>
                <% else %>
                  <%= link_to role.capitalize,
                              update_role_user_path(user, role: role),
                              method: :patch,
                              id: "btn-#{role}-#{user.id}",
                              class: "btn
                                      btn-#{if user.role == role then 'primary' else 'light' end}"
                  %>
                <% end %>
              <% end %>
            </div>
        <% end %>
        <td><%= user.current_sign_in_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
