<h1>Users</h1>

<table data-toggle="datatable" class="table" id="users">
  <thead>
    <th><%= User.human_attribute_name('name') %></th>
    <th><%= User.human_attribute_name('email') %></th>
    <th><%= User.human_attribute_name('role') %></th>
    <th><%= User.human_attribute_name('last_sign_in_at') %></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <%# https://datatables.net/manual/data/orthogonal-data#HTML-5 %>
        <td data-order="<%= user.role %>" data-search="<%= user.role %>">
          <% if editable_for user %>
            <div role="group"
                 class="btn-group border rounded
                        border-<%= if editable_for user then 'primary' else 'secondary' end %>">
            <% User.roles.map(&:first).each do |role| %>
              <%= link_to role.capitalize,
                          update_role_user_path(user, role: role),
                          method: :patch, 
                          class: "btn btn-#{if user.role == role then 'primary' else 'light' end}" %>
            <% end %>
          <% else %>
            <%= user.role.capitalize %>
          <% end %>
          </div>
        <td data-order="<%= user.current_sign_in_at.to_i %>">
          <%= I18n.l(user.current_sign_in_at, format: :long) if user.current_sign_in_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>