<h1>User profile</h1><br>

<table class="table">
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @user.name%></td>
    </tr>
  </tbody>
</table><br>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :sshkey %>
    <%= f.text_area :sshkey, class: 'form-control', rows: '8', disabled: true%>
  </div>

  <button>
    <% if @user.sshkey? %>
      <%= t('actions.edit') %>
    <% else %>
      <%= t('actions.add') %>
    <% end %>
  </button>
<% end %>

