<h1>User profile</h1><br>

<table class="table">
  <tbody>
    <tr>
      <td><%= User.human_attribute_name('email') %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td><%= User.human_attribute_name('ssh_key') %></td>
        <td>
          <% if @user.ssh_key? %>
            <textarea type="text" class='form-control' rows='8' disabled><%= @user.ssh_key %>
            </textarea>
          <% else %>
            <%= t('user.no_ssh_key') %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<% if @user == current_user %>
  <%= link_to(fa_icon('edit', text: t('actions.edit')),
              edit_user_path(@user),
              class: 'btn btn-primary float-right',
              id: 'editUserButton')
  %>
<% end %>
