<h1>User profile</h1><br>

<table class="table">
  <tbody>
    <tr>
      <td><%= User.human_attribute_name('email') %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name('name') %></td>
      <td><%= @user.name %></td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td><%= User.human_attribute_name('ssh_key') %></td>
        <td>
          <% if @user.ssh_key? %>
            <textarea type="text" class='form-control' rows='8' disabled><%= @user.ssh_key %>
            </textarea>
          <% else %>
            <%= t('user.no_ssh_key') %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<h2>Projects</h2>
<% if @user.responsible_projects.empty? %>
  <p>You are not part of any projects. All your projects will be shown here.</p>
<% else %>
  <%= render 'projects/list', projects: @user.responsible_projects %>
<% end %>
