<div class="clearfix">
  <h1 class="float-left">User profile</h1>
  <% if @user == current_user %>
    <%= link_to(fa_icon('edit', text: t('actions.edit')),
                edit_user_path(@user),
                class: 'btn btn-primary float-right',
                id: 'editUserButton')
    %>
  <% end %>
</div>

<table class="table">
  <tbody>
    <tr>
      <td><%= User.human_attribute_name('email') %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name('name') %></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name('role') %></td>
      <td><%= @user.role %></td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td><%= User.human_attribute_name('ssh_key') %></td>
        <td>
          <% if @user.ssh_key? %>
            <textarea type="text" class='form-control' rows='8' disabled><%= @user.ssh_key %>
            </textarea>
          <% else %>
            <%= t('user.no_ssh_key') %>
          <% end %></td>
      </tr>
      <tr>
        <td>Receive E-Mail notifications</td>
        <td>
          <%= @user.email_notifications ? 'Yes' : 'No' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user == current_user %>
  <a href="<%= new_slack_path %>">
    <img alt="Add to Slack"  src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
<% end %>

<h2 class="mt-3"><%= "#{@user.first_name.capitalize}'s projects" %></h2>
<% if @user.responsible_projects.empty? %>
  <% if @user == current_user %>
      <p>You are not part of any projects. All your projects will be shown here.</p>
    <% else %>
      <p>This user is not part of any projects. All his projects will be shown here.</p>
    <% end %>
<% else %>
  <%= render 'projects/table', projects: @user.responsible_projects %>
<% end %>
