<h1>User profile</h1><br>

<table class="table w-auto">
  <tbody>
    <tr>
      <td class="font-weight-bold"><%= User.human_attribute_name('email') %></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td class="font-weight-bold"><%= User.human_attribute_name('name') %></td>
      <td><%= @user.name %></td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td class="font-weight-bold"><%= User.human_attribute_name('ssh_key') %></td>
        <td>
          <% if @user.ssh_key? %>
            <textarea type="text" class='form-control' rows='8' disabled><%= @user.ssh_key %>
            </textarea>
          <% else %>
            <%= t('user.no_ssh_key') %>
          <% end %></td>
      </tr>
      <tr>
          <td>
            <% if @user == current_user %>
              <%= link_to(fa_icon('edit', text: t('actions.edit')),
                          edit_user_path(@user),
                          class: 'btn btn-info',
                          id: 'editUserButton')
              -%>
            <% end %>
          </td>
          <td>
            <a href="<%= new_slack_path -%>">
              <img alt="Add to Slack" height="40" width="autp" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>
          </td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<% if @user == current_user %>
  <%= link_to(fa_icon('edit', text: t('actions.edit')),
              edit_user_path(@user),
              class: 'btn btn-primary float-right',
              id: 'editUserButton')
  %>

  <a href="<%= new_slack_path %>">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
<% end %>

<h2>Projects</h2>
<% if @user.responsible_projects.empty? %>
  <p>You are not part of any projects. All your projects will be shown here.</p>
<% else %>
  <%= render 'projects/list', projects: @user.responsible_projects %>
<% end %>
