<% require './app/assets/helpers/hart_form_builder' %>

<%= form_with(model: app_setting, local: true, builder: HartFormBuilder) do |form| %>
  <% if app_setting.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(app_setting.errors.count, "error") %> prohibited the Settings from being saved:</h2>

      <ul>
        <% app_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid styled-form">
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>vSphere Settings</h5>
      </div>
      <div class="col-6">
        <%= form.labeled_text_field 'Server IP', :vsphere_server_ip %>

        <%= form.labeled_text_field 'User', :vsphere_server_user %>

        <%= form.labeled_password_field 'Password', :vsphere_server_password %>
        
        <%= form.labeled_text_field 'Root Folder', :vsphere_root_folder, description: 'Leave empty to use "/"' %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>VM Settings</h5>
      </div>
      <div class="col-6">
        <%= form.labeled_text_field 'Minimum cpu core count', :min_cpu_cores %>

        <%= form.labeled_text_field 'Maximum cpu core count', :max_cpu_cores %>

        <%= form.labeled_text_field 'Maximum ram size(GB)', :max_ram_size %>

        <%= form.labeled_text_field 'Maximum storage size(GB)', :max_storage_size %>
      </div>
    </div>


    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Git Settings</h5>
      </div>
      <div class="col-6">
        <%= form.labeled_text_field 'Repository URL', :git_repository_url %>

        <%= form.labeled_text_field 'Repository Name', :git_repository_name %>

        <%= form.labeled_text_field 'Github Username', :github_user_name %>

        <%= form.labeled_text_field 'Github User E-Mail', :github_user_email %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Puppet Settings</h5>
        Please specify the path relative to the git root
      </div>
      <div class="col-6">
        <%= form.labeled_text_field 'Init.pp Path', :puppet_init_path %>

        <%= form.labeled_text_field 'Classes Path', :puppet_classes_path %>

        <%= form.labeled_text_field 'Nodes Path', :puppet_nodes_path %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Email Notifications Settings</h5>
      </div>
      <div class="col-6">
        <%= form.labeled_text_field 'SMTP Server Address', :email_notification_smtp_address %>

        <%= form.labeled_number_field 'SMTP Server Port', :email_notification_smtp_port %>

        <%= form.labeled_text_field 'E-Mail Server Domain', :email_notification_smtp_domain %>

        <%= form.labeled_text_field 'User', :email_notification_smtp_user %>

        <%= form.labeled_password_field 'Password', :email_notification_smtp_password %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Virtual Machine Archivation</h5>
      </div>
      <div class="col-6">
        <%= form.labeled_number_field 'Archivation Timeout (in days)', :vm_archivation_timeout %>
      </div>
    </div>

    <div class="actions">
      <%= form.accept %>
    </div>
  </div>

<% end %>
