<%# https://github.com/bootstrap-ruby/bootstrap_form %>
<%= bootstrap_form_with(model: app_setting, local: true) do |form| %>
  <%= form.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="container-fluid">
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>vSphere Settings</h5>
      </div>
      <div class="col-6">
        <%= form.text_field :vsphere_server_ip, label: 'Server IP' %>
        <%= form.text_field :vsphere_server_user, label: 'User' %>
        <%= form.password_field :vsphere_server_password, label: 'Password' %>
        <%= form.text_field :vsphere_root_folder, label: 'Root Folder', help: 'Leave empty to use "/"' %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>VM Settings</h5>
      </div>
      <div class="col-6">
        <%= form.text_field :min_cpu_cores, label: 'Minimum CPU Core Count' %>
        <%= form.text_field :max_cpu_cores, label: 'Maximum CPU Core Count' %>
        <%= form.text_field :max_ram_size, label: 'Maximum RAM Size', append: "GB" %>
        <%= form.text_field :max_storage_size, label: 'Maximum Storage Size', append: "GB" %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Git Settings</h5>
      </div>
      <div class="col-6">
        <%= form.text_field :git_repository_url, label: 'Repository URL' %>
        <%= form.text_field :git_repository_name, label: 'Repository Name' %>
        <%= form.text_field :git_branch, label: 'Git Branch' %>
        <%= form.text_field :github_user_name, label: 'GitHub Username' %>
        <%= form.text_field :github_user_email, label: 'GitHub User E-Mail' %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Puppet Settings</h5>
        Please specify the path relative to the git root
      </div>
      <div class="col-6">
        <%= form.text_field :puppet_init_path, label: 'Init.pp Path' %>
        <%= form.text_field :puppet_classes_path, label: 'Classes Path' %>
        <%= form.text_field :puppet_nodes_path, label: 'Nodes Path' %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>E-Mail Notifications Settings</h5>
      </div>
      <div class="col-6">
        <%= form.text_field :email_notification_smtp_address, label: 'SMTP Server Address' %>
        <%= form.number_field :email_notification_smtp_port, label: 'SMTP Server Port' %>
        <%= form.text_field :email_notification_smtp_domain, label: 'E-Mail Server Domain' %>
        <%= form.text_field :email_notification_smtp_user, label: 'User' %>
        <%= form.password_field :email_notification_smtp_password, label: 'Password' %>
      </div>
    </div>

    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>General Settings</h5>
      </div>
      <div class="col-6">
        <%= form.number_field :vm_archivation_timeout, label: 'Virtual Machine Archivation Timeout', append: 'days' %>
        <%= form.number_field :max_shown_vms, label: 'Maximum number of VMs shown on the dashboard' %>
      </div>
    </div>

    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
