<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, "VM Name" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <p>Responsible Users</p>
    <%= form.select 'responsible_user_ids',
                    options_from_collection_for_select(User.all,
                                                       :id,
                                                       :email),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'Who is responsible for this VM?' }, style: 'width: 50%' } %>
  </div>

  <div class="field form-group">
    <%= form.label :cpu_cores, "CPU cores" %>
    <%= form.number_field :cpu_cores, min: 0, class: 'form-control', id: 'cpu' %>
  </div>

  <div class="field form-group">
    <%= form.label :ram_mb, "RAM in GB" %>
    <%= form.number_field :ram_mb, value: (@request && !@request&.ram_mb.nil?) ? mb_to_gb(@request.ram_mb) : nil, min: 0, class: 'form-control', id: 'ram' %>
  </div>

  <div class="field form-group">
    <%= form.label :storage_mb, "Storage in GB" %>
    <%= form.number_field :storage_mb, value: (@request && !@request&.storage_mb.nil?) ? mb_to_gb(@request.storage_mb) : nil, min: 0, class: 'form-control', id: 'storage' %>
  </div>

  <div class="field form-group">
    <p>Users with sudo rights</p>
    <%= form.select 'sudo_user_ids',
                    options_from_collection_for_select(User.all,
                                                     :id,
                                                     :email,
                                                     @request.sudo_user_assignments.collect(&:user_id)),
                    {},
                    { multiple: true, class: "selecttwo", style: 'width: 50%' } %>
  </div>

  <div class="field form-group">
    <p>Assigned Users</p>
    <%= form.select 'user_ids',
                    options_from_collection_for_select(User.all,
                                                       :id,
                                                       :email,
                                                       @request.non_sudo_user_assignments.collect(&:user_id)),
                    {},
                    { multiple: true, class: "selecttwo", style: 'width: 50%' } %>
  </div>

  <div class="field form-group">
    <%= form.label :operating_system, "Operating System" %> <br>
    <%= form.select :operating_system, operating_system_options, {}, id: 'operating_system' %>
  </div>

    <div class="field form-group">
      <%= form.label :port, "Port" %>
      <%= form.number_field :port, min: 0, max: 65535, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :application_name, "Application Name" %>
      <%= form.text_field :application_name, class: 'form-control' %>
    </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, cols: "40", rows: "4", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, cols: "40", rows: "4", class: 'form-control' %>
  </div>

  <% if locals[:updating] %>
    <div id="acceptAndReject">
      <div class="actions">
        <%= form.submit 'Accept & Create', id: 'acceptButton', class: "btn btn-success" %>
      </div>
    </div>
  <% else %>
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<% if locals[:updating] %>
  <hr/>
  <%= form_with(model: request, url:{action: 'reject', id: request}, local: true) do |rejection_form| %>
    <div class="field form-group">
      <%= rejection_form.label :rejection_information %>
      <%= rejection_form.text_field :rejection_information, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= rejection_form.submit 'Reject', id: 'rejectButton', class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag('request') %>
