<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <div class="row bottom-buffer">
      <legend class="col-form-label col-sm-2 pt-0">VM Templates:</legend>
      <div class="col-sm-10">
        <ul>
          <input type="radio" class="template" name="template" id="template" value="none"/>
          <%= "None" %>
        </ul>
        <% unless @request_templates.nil? %>
        <% @request_templates.each_with_index do |request_template, index| %>
          <ul>
             <input type="radio" class="template" name="template" id="template" value="<%= [request_template.cpu_cores, request_template.ram_mb, request_template.storage_mb, request_template.operating_system] %>"/>
            <%= "#{request_template.name}: #{request_template.cpu_cores} CPU-Cores, #{request_template.ram_mb} MB RAM, #{request_template.storage_mb} MB Storage, #{request_template.operating_system}" 
            %>
          </ul>
        <% end %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <div class="field form-group">
    <%= form.label :name, "VM Name" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :cpu_cores, "CPU-Cores" %>
    <%= form.number_field :cpu_cores, min: 0, class: 'form-control', id: 'cpu' %>
  </div>

  <div class="field">
    <%= form.label :ram_mb, "RAM in MB" %>
    <%= form.number_field :ram_mb, min: 0, class: 'form-control', id: 'ram' %>
  </div>

  <div class="field">
    <%= form.label :storage_mb, "Storage in MB" %>
    <%= form.number_field :storage_mb, min: 0, class: 'form-control', id: 'storage' %>
  </div>

  <div class="field">
    <p>Users with sudo rights:</p>
    <%= form.select 'sudo_user_ids',
                    options_from_collection_for_select(User.all,
                                                     :id,
                                                     :email),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'choose wisely' }, style: 'width: 50%' } %>
  </div>

  <div class="field">
    <p>Assigned Users:</p>
    <%= form.select 'user_ids',
                    options_from_collection_for_select(User.all,
                                                       :id,
                                                       :email),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'choose more wisely' }, style: 'width: 50%' } %>
  </div>

  <div class="field">
    <%= form.label :operating_system, "Operating System" %>
    <%= form.select :operating_system, operating_system_options, {}, id: 'operating_system' %>
  </div>

  <div class="field">
    <%= form.label :port, "Port" %>
    <%= form.number_field :port, min: 0, max: 65535, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :application_name, "Application Name" %>
    <%= form.text_field :application_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, cols: "40", rows: "4", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, cols: "40", rows: "4", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag('request') %>
