<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid styled-form">
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>General Information</h5>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
      </div>
      <div class="col">

        <div class="field form-group">
          <%= form.label :name, "Name" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= form.label :description %>
          <%= form.text_area :description, rows: "4", class: 'form-control' %>
        </div>

        <div class="field form-group">
          <p>Project:</p>
          <%= form.select :project_id,
                          options_from_collection_for_select(Project.all,
                                                             :id,
                                                             :name,
                                                             :selected => form.object.project_id),
                          { :include_blank => true},
                          { class: 'form-control' } %>
        </div>

        <div class="field form-group">
          <p>Responsible User:</p>
          <%= form.select 'responsible_user_ids',
                          options_from_collection_for_select(User.all,
                                                      :id,
                                                      :email,
                                                      @request.responsible_users.collect(&:id)),
                          {},
                          { multiple: true, class: "form-control selecttwo"} %>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Hardware Information</h5>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
      </div>
      <div class="col">
        <div class="row-fluid pb-4 mb-2 border-bottom">
          <%= form.label "Template" %>
          <%= form.select :template_id,
                          options_for_select(RequestTemplate.all.map{|request_template|
                                            ["#{request_template.name}: #{request_template.cpu_cores} CPU cores, #{request_template.ram_gb} GB RAM, #{request_template.storage_gb} GB Storage, #{request_template.operating_system}",
                                            "[#{request_template.cpu_cores}, #{request_template.ram_gb}, #{request_template.storage_gb}, '#{request_template.operating_system}']"]}),
                          { :include_blank => 'None' },
                          { class: "form-control" } %>
        </div>
        <div class="row pt-3">
          <div class="col">
            <%= form.label :cpu_cores, "CPU cores" %>
            <%= form.number_field :cpu_cores, value: @request.persisted? ? @request.cpu_cores : nil, min: 0, class: 'form-control', id: 'cpu' %>
          </div>
          <div class="col">
            <%= form.label :ram_gb, "RAM in GB" %>
            <%= form.number_field :ram_gb, value: @request.persisted? ? @request.ram_gb : nil, min: 0, class: 'form-control', id: 'ram' %>
          </div>
          <div class="col">
            <%= form.label :storage_gb, "Storage in GB" %>
            <%= form.number_field :storage_gb, value: @request.persisted? ? @request.storage_gb : nil, min: 0, class: 'form-control', id: 'storage' %>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <%= form.label :operating_system, "Operating System" %> <br>
            <%= form.select :operating_system, operating_system_options, {}, id: 'operating_system', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Users</h5>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
      </div>
      <div class="col">
        <div class="form-group">
          Users with sudo rights
          <%= form.select 'sudo_user_ids',
                          options_from_collection_for_select(User.admin,
                                                            :id,
                                                            :email,
                                                            @request.sudo_users.collect(&:id)),
                          { },
                          { class: 'form-control selecttwo', multiple: true} %>
        </div>
        <div class="form-group">
          Regular users
          <%= form.select 'user_ids',
                          options_from_collection_for_select(User.employee,
                                                              :id,
                                                              :email,
                                                              @request.users.collect(&:id)),
                          { },
                          { class: 'form-control selecttwo', multiple: true} %>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-4 pb-4">
      <div class="col">
        <h5>Other Information</h5>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
      </div>
      <div class="col">
        <div class="field form-group pb-3 mb-3 border-bottom">
          <input type="checkbox" data-toggle="collapse" data-target="#request_port_forwarding_info"> Enable port forwarding</input>
          <div id="request_port_forwarding_info" class="collapse">
            <div class="field form-group">
              <%= form.label :port, "Port" %>
              <%= form.number_field :port, min: 0, max: 65535, class: 'form-control' %>
            </div>
            <div class="field form-group">
              <%= form.label :application_name, "Application Name" %>
              <%= form.text_field :application_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="field form-group">
          <%= form.label :comment %>
          <%= form.text_area :comment, cols: "40", rows: "4", class: 'form-control' %>
        </div>
      </div>
    </div>
</div>

  <% if locals[:updating] %>
    <div id="acceptAndReject">
      <div class="actions">
        <%= form.submit 'Accept & Create', id: 'acceptButton', class: "btn btn-success" %>
      </div>
    </div>
  <% else %>
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<% if locals[:updating] %>
  <%= form_with(model: request, url:{action: 'reject', id: request}, local: true) do |rejection_form| %>
    <div class="field form-group">
      <%= rejection_form.label :rejection_information %>
      <%= rejection_form.text_field :rejection_information, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= rejection_form.submit 'Reject', id: 'rejectButton', class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag('request') %>
