<h1>Requests</h1>

<table class="table-bar">
  <tbody>
    <tr>
      <td>
        <%=link_to(fa_icon('plus'),
        {controller: :requests, action: 'new'},
        method: :get, class: 'btn btn-info') %>
      </td>
      <td>
        <%= link_to 'Templates', request_templates_path, class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to 'Operating Systems', operating_systems_path, class: 'btn btn-info' %>      
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-fixed-columns">
  <thead>
    <tr>
      <th>VM Name</th>
      <th>CPU-Cores</th>
      <th>MB RAM</th>
      <th>MB Storage</th>
      <th>Operating System</th>
      <th>Port</th>
      <th>Application Name</th>
      <th>Comment</th>
      <th>Status </th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_mb %></td>
        <td><%= request.storage_mb %></td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
        <td>
          <%= link_to request.status,
                      request_path(request),
                      class: 'btn btn-info'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @requests.length == 0 %>
<p class="empty-table-label">No requests created yet</p>
<% end %>
