<h1 class="float-left">Requests</h1>

<div class="clearfix">
  <%= link_to fa_icon('plus'), new_request_path,
    title: 'New VM request',
    :data => { toggle: 'tooltip', placement: 'bottom' },
    class: "btn btn-primary float-right mt-3" %>
</div>

<h2 id="pending">Pending requests</h2>

<table data-toggle="datatable" class="table" id="requests_pending">
  <thead>
  <tr>
    <th>VM Name</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>HDD</th>
    <th>OS</th>
    <th>Port</th>
    <th>Application Name</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
    <% @pending_requests&.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_gb %> GB</td>
        <td><%= request.storage_gb %> GB</td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-4" id="resolved">Resolved requests</h2>

<table data-toggle="datatable" class="table" id="requests_resolved">
  <thead>
  <tr>
    <th>VM Name</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>HDD</th>
    <th>OS</th>
    <th>Port</th>
    <th>Application Name</th>
    <th>Comment</th>
    <th>Status</th>
    <th data-orderable="false">Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @resolved_requests&.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_gb %> GB</td>
        <td><%= request.storage_gb %> GB</td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
        <%# https://datatables.net/manual/data/orthogonal-data#HTML-5 %>
        <td data-order="<%= request.status %>" data-search="<%= request.status %>">
          <%= content_tag :div, nil,
            title: request.status,
            :data => { toggle: 'tooltip', placement: 'right' },
            class: "round #{request.accepted? ? 'bg-success' : 'bg-warning'}" %>
        </td>
        <td>
          <% if request.accepted? %>
            <a class="btn btn-primary btn-sm fa fa-code text-white" data-toggle="modal" title="Puppet script" data-target=<%= '#puppet-script-' + request.name %>>
            </a>
            <div class="modal fade" id=<%= 'puppet-script-' + request.name %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="puppet-scriptTite">Puppet Script</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <pre>
                        <%= debug puppet_node_script(request) %>
                        <%= debug puppet_name_script(request) %>
                      </pre>
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Push to git", push_to_git_request_path(request), method: :post, class: "btn btn-primary" %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %> <%# @resolved_requests&.each %>
  </tbody>
</table>