<div class="clearfix">
  <h1 class="float-left">Requests</h1>
  <%= link_to fa_icon('plus'), new_request_path,
    method: :get,
    class: "btn btn-primary float-right mt-3" %>
  <% if current_user.admin? %>
  <%= button_to "Templates", request_templates_path,
    method: :get,
    class: "btn btn-primary float-right mt-3 mr-3" %>
  <%= button_to 'Operating Systems', operating_systems_path,
    method: :get,
    class: 'btn btn-primary float-right mt-3 mr-3' %>
  <% end %>
</div>

<%= link_to "Pending requests (#{@pending_requests&.size}) <small>&#x25bc;</small>".html_safe, '#pending' %><br />
<%= link_to "Resolved requests (#{@resolved_requests&.size}) <small>&#x25bc;</small>".html_safe, '#resolved' %><br />

<h2 id="pending">Pending requests</h2>

<input class="filter-box" type="text" id="filter_pending" onkeyup="filterTable('filter_pending', 'requests_pending')" placeholder="Search">

<table data-toggle="table" class="table" id="requests_pending">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">VM Name</th>
    <th scope="col" data-sortable="true">CPU Cores</th>
    <th scope="col" data-sortable="true">RAM</th>
    <th scope="col" data-sortable="true">HDD</th>
    <th scope="col" data-sortable="true">OS</th>
    <th scope="col" data-sortable="true">Port</th>
    <th scope="col" data-sortable="true">Application Name</th>
    <th scope="col" data-sortable="true" class="rounded-right">Comment</th>
  </tr>
  </thead>
  <tbody>
  <% @pending_requests&.each do |request| %>
    <tr>
      <td class="table-active">
        <%= link_to request.name, request_path(request), class: "btn btn-link"  %>
      </td>
      <td class="table-active"><%= request.cpu_cores %></td>
      <td class="table-active"><%= request.ram_gb %> GB</td>
      <td class="table-active"><%= request.storage_gb %> GB</td>
      <td class="table-active"><%= request.operating_system %></td>
      <td class="table-active"><%= request.port %></td>
      <td class="table-active"><%= request.application_name %></td>
      <td class="table-active"><%= request.comment %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 id="resolved">Resolved requests</h2>

<input class="filter-box" type="text" id="filter_resolved" onkeyup="filterTable('filter_resolved', 'requests_resolved')" placeholder="Search">

<table data-toggle="table" class="table" id="requests_resolved">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" class="rounded-left">VM Name</th>
    <th scope="col" data-sortable="true">CPU Cores</th>
    <th scope="col" data-sortable="true">RAM</th>
    <th scope="col" data-sortable="true">HDD</th>
    <th scope="col" data-sortable="true">OS</th>
    <th scope="col" data-sortable="true">Port</th>
    <th scope="col" data-sortable="true">Application Name</th>
    <th scope="col" data-sortable="true">Comment</th>
    <th scope="col" data-sortable="true" class="rounded-right">Status</th>
  </tr>
  </thead>
  <tbody>
  <% @resolved_requests&.each do |request| %>
    <tr>
      <td class="table-active">
        <%= link_to request.name, request_path(request), class: "btn btn-link"  %>
      </td>
      <td class="table-active"><%= request.cpu_cores %></td>
      <td class="table-active"><%= request.ram_gb %> GB</td>
      <td class="table-active"><%= request.storage_gb %> GB</td>
      <td class="table-active"><%= request.operating_system %></td>
      <td class="table-active"><%= request.port %></td>
      <td class="table-active"><%= request.application_name %></td>
      <td class="table-active"><%= request.comment %></td>
      <td class="table-active">
          <div class="round mt-2
            <%= request.accepted? ? 'bg-success' : 'bg-danger'  %>">
          </div>
          <% if request.accepted? %>
            <a class="btn-manage script-doc float-right" data-toggle="modal" title="Puppet Script" data-target=<%= '#puppet-script-' + request.name %>>
            </a>
            <div class="modal fade" id=<%= 'puppet-script-' + request.name %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="puppet-scriptTite">Puppet Script</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <pre>
                        <%= debug puppet_node_script(request) %>
                        <%= debug puppet_name_script(request) %>
                      </pre>
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Push to git", push_to_git_request_path(request), method: :post, class: "btn btn-primary" %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>