<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 80px">Cpu-Cores</th>
      <th style="width: 80px">MB RAM</th>
      <th style="width: 90px">MB Storage</th>
      <th>Operating system</th>
      <th style="width: 80px">Port</th>
      <th>Reachability Name</th>
      <th class="w-25">Comment</th>
      <th>Status </th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to "#{request.name}", request %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_mb %></td>
        <td><%= request.storage_mb %></td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.reachability_name %></td>
        <td><%= request.comment %></td>
        <td><%= request.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path, class: 'btn btn-primary' %>
