<h1>Requests</h1>

<table class="table-bar">
  <tbody>
    <tr>
      <td>
        <%=link_to(fa_icon('plus'),
        {controller: :requests, action: 'new'},
        method: :get, class: 'btn btn-primary') %>
      </td>
      <td>
        <%= link_to 'Templates', request_templates_path, class: 'btn btn-primary' %>
      </td>
      <td>
        <%= link_to 'Operating Systems', operating_systems_path, class: 'btn btn-primary' %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-fixed-columns">
  <thead>
    <tr>
      <th>VM Name</th>
      <th>CPU cores</th>
      <th>RAM in GB</th>
      <th>Storage in GB</th>
      <th>Operating System</th>
      <th>Port</th>
      <th>Application Name</th>
      <th>Comment</th>
      <th>Status </th>
      <th>Puppet Script</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= mb_to_gb(request.ram_mb) %></td>
        <td><%= mb_to_gb(request.storage_mb) %></td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
        <td>
          <%= link_to request.status,
                      request_path(request),
                      class: 'btn btn-primary'
          %>
        </td>
        <%if request.accepted? %>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%= '#puppet-script-' + request.name %>>
            show script
          </button></td>
          <div class="modal fade" id=<%= 'puppet-script-' + request.name %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="puppet-scriptTite">Puppet Script</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <pre>
                    <%= debug puppet_node_script(request) %>
                    <%= debug puppet_name_script(request) %>
                    </pre>
                </div>
                <div class="modal-footer">
                  <%= link_to "Push to git", push_to_git_request_path(request), method: :post, class: "btn btn-primary" %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <%else %>
          <td></td>
        <%end %>
      </tr>
    <%end %>
  </tbody>
</table>
<% if @requests.length == 0 %>
  <p class="empty-table-label">No requests created yet</p>
<% end %>
