<h1 class="float-left">Requests</h1>

<div class="clearfix">
  <%= link_to fa_icon('plus'), new_request_path,
    title: 'New VM request',
    :data => { toggle: 'tooltip', placement: 'bottom' },
    class: "btn btn-primary float-right mt-3" %>
    <% if current_user.admin? %>
      <%= link_to "Templates", request_templates_path,
        class: "btn btn-primary float-right mt-3 mr-3" %>
      <%= link_to 'Operating Systems', operating_systems_path,
        class: 'btn btn-primary float-right mt-3 mr-3' %>
    <% end %>
</div>

<h2 id="pending">Pending requests</h2>

<table data-toggle="datatable" class="table" id="requests_pending">
  <thead>
  <tr>
    <th>VM Name</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>HDD</th>
    <th>OS</th>
    <th>Port</th>
    <th>Application Name</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
    <% @pending_requests&.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_gb %> GB</td>
        <td><%= request.storage_gb %> GB</td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-4" id="resolved">Resolved requests</h2>

<table data-toggle="datatable" class="table" id="requests_resolved">
  <thead>
  <tr>
    <th>VM Name</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>HDD</th>
    <th>OS</th>
    <th>Port</th>
    <th>Application Name</th>
    <th>Comment</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
    <% @resolved_requests&.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.cpu_cores %></td>
        <td><%= request.ram_gb %> GB</td>
        <td><%= request.storage_gb %> GB</td>
        <td><%= request.operating_system %></td>
        <td><%= request.port %></td>
        <td><%= request.application_name %></td>
        <td><%= request.comment %></td>
        <%# https://datatables.net/manual/data/orthogonal-data#HTML-5 %>
        <td data-order="<%= request.status %>" data-search="<%= request.status %>">
          <%= content_tag :div, nil,
            title: request.status,
            :data => { toggle: 'tooltip', placement: 'right' },
            class: "round #{request.accepted? ? 'bg-success' : 'bg-warning'}" %>
        </td>
      </tr>
    <% end %> <%# @resolved_requests&.each %>
  </tbody>
</table>