<%= form_with(model: @request, url:{action: 'request_change_state', id: @request}, local: true) do |form| %>
  <table class="table table-fixed-columns table-striped">
  	<tbody>
  	  <div class="field">
      	<p>Mac-Address:</p>
   	  	<%= form.label :mac, @vm.macs.values.first %>
  	  </div>

  	  <div class="field">
      	<%= form.label :ip, "IP:" %>
   	  	<%= form.text_field :ip, class: 'form-control' %>
  	  </div>

  	  <div class="field">
      	<%= form.label :dns, "DNS:" %>
   	  	<%= form.text_field :dns, class: 'form-control' %>
  	  </div>

	  <%= render 'show', request: @request %>
	</tbody>
  </table>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
