<h1>
  Virtual Machines
</h1>
<small class="text-muted">This is the overview page for all currently existing VMs</small>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= form_tag({controller: "vm", action: "index"}, method: "get", class: "nifty_form") do %>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">VMs</th>
      <td>
        <%= check_box_tag(:up_vms, true, @parameters.include?('up_vms')) %>
        <%= label_tag(:up_vms, "connected") %>  
      </td>
      <td>
        <%= check_box_tag(:down_vms, true, @parameters.include?('down_vms')) %>
        <%= label_tag(:down_vms, "not connected") %>
      </td>
      <td rowspan="2">
        <%= submit_tag"Filter", class: "btn btn-info" %>
      </td>
    </tr>
    <tr>
      <th scope="row">Hosts</th>
      <td>
        <%= check_box_tag(:up_hosts, true, @parameters.include?('up_hosts')) %>
        <%= label_tag(:up_hosts, "connected") %>  
      </td>
      <td>
        <%= check_box_tag(:down_hosts, true, @parameters.include?('down_hosts')) %>
        <%= label_tag(:down_hosts, "not connected") %>
      </td>
    </tr></tbody></table>
<% end %>


<table data-toggle="table" class="table">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">VM Name</th>
    <th scope="col" data-sortable="true">Running Since</th>
    <th scope="col">Details</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @vms.each do |vm| %>
    <tr>
      <td><%= vm[:name] %></td>
      <td><%= vm[:boot_time] %></td>
      <td><%= button_to "Details",
                        {controller: :vm, action: 'show', id: vm[:name]},
                        method: :get, class: "btn btn-info" %></td>
      <td><%= button_to "Delete",
                        {controller: :vm, action: 'destroy', id: vm[:name]},
                        method: :delete, class: "btn btn-danger" %></td>
    <tr>
  <% end %>
  </tbody>
</table>

<br>

<table data-toggle="table" class="table">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">Hostname</th>
    <th scope="col" data-sortable="true">Model</th>
    <th scope="col" data-sortable="true">Vendor</th>
    <th scope="col" data-sortable="true">Status</th>
    <th scope="col" data-sortable="true">Running Since</th>
    <th scope="col">VMs</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <td><%= host[:name] %></td>
      <td><%= host[:model] %></td>
      <td><%= host[:vendor] %></td>
      <td><%= host[:connectionState] %></td>
      <td><%= host[:bootTime] %></td>
      <td>
        <ul>
          <% if not host[:vm_names].nil?
               host[:vm_names].each do |vm_name| %>
              <li> <%= vm_name %></li>
            <% end
               end %>
        </ul>
      </td>
      <td><%= button_to "Details",
                        {controller: :vm, action: 'show_host', id: host[:name]},
                        method: :get, class: "btn btn-info" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Minified script sources for sortable tables -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
      xmlns="http://www.w3.org/1999/html">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>