<h1>
  Virtual Machines
  <small class="text-muted">This is the overview page for all currently existing vms</small>
</h1>


<table class="table">
  <thead>
  <tr>
    <th scope="col">VM Name</th>
    <th scope="col">Running Since</th>
    <th scope="col">Details</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @vms.each do |vm| %>
    <tr>
      <th scope="row"><%= vm[:name]%></th>
      <td><%= vm[:boot_time]%></td>
      <td><%= button_to "Details",
                        {controller: :vm, action: 'show', id: vm[:name] },
                        method: :get, class: "btn btn-info"  %></td>
      <td><%= button_to "Delete",
                        {controller: :vm, action: 'destroy', id: vm[:name] },
                        method: :delete, class: "btn btn-danger" %></td>
    <tr>
  <% end %>
  </tbody>
</table>

<br>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Hostname</th>
    <th scope="col">Model</th>
    <th scope="col">Vendor</th>
    <th scope="col">Status</th>
    <th scope="col">Running Since</th>
    <th scope="col">vms</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <th scope="row"><%= host[:name]%></th>
      <td><%= host[:model]%></td>
      <td><%= host[:vendor]%></td>
      <td><%= host[:connectionState]%></td>
      <td><%= host[:bootTime]%></td>
      <td>
        <ul>
          <% if not host[:vm_names].nil?
           host[:vm_names].each do |vm_name|%>
          <li> <%= vm_name %></li>
          <% end
          end %>
        </ul>
      </td>
      <td><%= button_to "Details",
                        {controller: :vm, action: 'show_host', id: host[:name] },
                        method: :get, class: "btn btn-info"  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
