<h1>
  Details for Virtual Machine "<%= @vm[:name]%>"
</h1>

<table class="table">
    <tbody>
    <tr>
    <td>Boot time:</td>
    <td><%= @vm[:boot_time]%></td>
    </tr>

    <tr>
    <td>State:</td>
    <td><%= @vm[:summary].runtime.powerState%></td>
  </tr>

    <tr>
    <td>Heartbeat status:</td>
    <td><%= @vm[:guestHeartbeatStatus]%> </td>
    </tr>

      <tr>
    <td>Host:</td>
    <td>
    <%= link_to @vm[:host], controller: "server", action: "show", id: @vm[:host] %>
    </td>

    <% 
    committed = @vm[:summary].storage.committed
    uncommitted = @vm[:summary].storage.uncommitted
    committed_mb = committed / (1024 ** 2)
    uncommitted_mb = uncommitted / (1024 ** 2)
    total_mb = committed_mb + uncommitted_mb
    total = committed + uncommitted
    space_usage_percentage = 0
      if total != 0
        space_usage_percentage = (committed / total.to_f * 100).round()
      end
    %>
    <tr>
    <td>Space Usage:</td>
    <td><%= space_usage_percentage %> % (<%= committed_mb %> / <%= total_mb %> MB) </td>
    </tr>
    
  <tr>
    <td>OS:</td>
    <td><%= @vm[:summary].config.guestId %> (<%= @vm[:summary].config.guestFullName %>)</td>
  </tr>

  </tr>
    <tr>
    <td>IP address:</td>
    <td><%= @vm[:summary].guest.ipAddress %></td>
  </tr>
  <%
   cpu_usage = @vm[:summary].quickStats.overallCpuUsage
   cpu_allocation = @vm[:summary].config.cpuReservation
   memory_usage = @vm[:summary].quickStats.guestMemoryUsage
   memory_allocation = @vm[:summary].config.memoryReservation
   cpu_usage_percentage = 0
   memory_usage_percentage = 0

   if cpu_allocation != 0
     cpu_usage_percentage = (cpu_usage / cpu_allocation.to_f * 100).round()
   end

   if memory_allocation != 0
     memory_usage_percentage = (memory_usage / memory_allocation.to_f * 100).round()
   end
     
  %>
  <tr>
    <td>CPU usage:</td>
    <td><%= cpu_usage_percentage %> %</td>
  </tr>

    <tr>
    <td>Memory usage:</td>
    <td><%=  memory_usage_percentage %> % (<%= memory_usage %> / <%= memory_allocation %> MB)</td>
  </tr>
    
  </tbody>
</table>