<%= form_with(model: project, local: true) do |form| %>
  <%= render 'layouts/form_errors', model: form.object %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, cols: "40", rows: "4", class: 'form-control' %>
  </div>

  <p>Responsible users:</p>
  <%= form.select 'responsible_user_ids',
                  options_from_collection_for_select(User.all,
                                                     :id,
                                                     :human_readable_identifier,
                                                     selected: selected_user_ids),
                  {},
                  { multiple: true, class: "selecttwo form-group", data: { placeholder: 'Responsible users' }}
  %>

  <div class="actions">
    <br />
    <%= form.submit id: 'submitProjectButton', class: "btn btn-primary" %>
  </div>
<% end %>
