<table class="table">
  <thead>
  <th><%= User.human_attribute_name('name') %></th>
  <th><%= User.human_attribute_name('description') %></th>
  <th><%= User.human_attribute_name('responsible_users') %></th>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td>
          <ul class="bulletless pl-1">
            <% project.responsible_users.each do |user| %>
                <li><%= user.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
