<h1><%= I18n.t('project.title') %></h1>

<dl>
  <dt><strong><%= Project.human_attribute_name('name') %></strong></dt>
  <dd><%= @project.name %></dd>
  <dt><strong><%= Project.human_attribute_name('description') %></strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong>VMs</strong></dt>
  <dd>
    <% if @project.virtual_machine_configs.each do |config| %>
      <%= link_to config.name, controller: "vms", action: "show", id: config.name %>
    <% end.empty? %>
      ---
    <% end %>
  </dd>
  <dt><strong><%= Project.human_attribute_name('responsible_users') %></strong></dt>
  <dd>
    <%# https://getbootstrap.com/docs/4.0/content/typography/#inline %>
    <ul class="list-inline mb-0">
      <% @project.responsible_users.each do |user| %>
        <li class="list-inline-item"><%= link_to user.name, user %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="float-right">
  <% if @project.responsible_users.include? current_user %>
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_project_path(@project),
                class: 'btn btn-primary' %>
    <% vm_names = @project.virtual_machine_configs.map(&:name).join(", ") %>
    <% warning = "The following VMs will loose their project:\n" + vm_names %>
    <%= link_to fa_icon('trash', text: 'Delete'), @project, method: :delete,
                data: {confirm: ["Are you sure you want to delete this project?\n",
                                 "#{warning if vm_names.present?}"].join('')},
                class: 'btn btn-danger' %>
  <% end %>
</div>
