<p id="notice"><%= notice %></p>

<h1>Operation Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_systems.each do |operation_system| %>
      <tr>
        <td><%= operation_system.name %></td>
        <td><%= link_to 'Show', operation_system %></td>
        <td><%= link_to 'Edit', edit_operation_system_path(operation_system) %></td>
        <td><%= link_to 'Destroy', operation_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation System', new_operation_system_path %>
