<nav id="navbar" class="navbar navbar-expand-lg navbar-fixed-top navbar-offset navbar-dark text-white">
  <a class="navbar-brand" href=<%= dashboard_path %>><%= image_tag("logo.svg", :alt => "VMSpace", :height => "40") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(fa_icon('desktop', text: "Dashboard"), dashboard_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to('VMs', vms_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Hosts', hosts_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Projects', projects_path, class: "nav-link") %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to('Users', users_path, class: "nav-link") %>
          </li>
        <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to(notifications_path, id: "header-notification-bell", class: "nav-link") do %>
          <span class="fa-stack fa notification-bell">
            <i class="fa fa-bell fa-stack-1x"></i>
            <i id="notification-alert" class="fa fa-circle fa-inverse fa-stack-1x"></i>
          </span>
        <% end %>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon('user', text: current_user.name) %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Profile', user_path(current_user), class: "dropdown-item") %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-danger dropdown-item") %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
