<!DOCTYPE html>
<html>
  <head>
    <title>VmPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.svg' %>
  </head>

  <body>
    <div id="content">
      <%= render "navbar" %>
      <div class="container" style="margin-top: 50px">
        <%= render('layouts/flash_message') %>
        <div class="col-lg-12">
          <%= yield %>
        </div>
        <%= yield :modals %>
      </div>
    </div>
    <div id="footer">
      <%= render "footer" %>
    </div>
  </body>
</html>
